<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="layoutSidenav_nav">
  <nav class="sidenav shadow-right sidenav-light">
    <div class="sidenav-menu">
      <div class="nav accordion" id="accordionSidenav">
        <div class="sidenav-menu-heading d-sm-none">Account</div>
        <a class="nav-link d-sm-none" href="#!">
          <div class="nav-link-icon"><i data-feather="bell"></i></div>
          Alerts
          <span class="badge bg-warning-soft text-warning ms-auto"
          >4 New!</span
          >
        </a>
        <a class="nav-link d-sm-none" href="#!">
          <div class="nav-link-icon"><i data-feather="mail"></i></div>
          Messages
          <span class="badge bg-success-soft text-success ms-auto"
          >2 New!</span
          >
        </a>
        <!-- Sidenav Menu Heading (Core)-->
        <div class="sidenav-menu-heading">Core</div>

        <a class="nav-link" th:href="@{/deal/home}">
          <div class="nav-link-icon"><i class="far fa-handshake"></i></div>
          Giao dịch
          <span class="badge bg-primary-soft text-primary ms-auto"
          >Updated</span
          >
        </a>
        <!-- Sidenav Accordion (Dashboard)-->
        <a
                class="nav-link collapsed"
                href="javascript:void(0);"
                data-bs-toggle="collapse"
                data-bs-target="#collapseDashboards"
                aria-expanded="false"
                aria-controls="collapseDashboards"
        >
          <div class="nav-link-icon"><i data-feather="activity"></i></div>
          Marketing
          <div class="sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div
                class="collapse"
                id="collapseDashboards"
                data-bs-parent="#accordionSidenav"
        >
          <nav
                  class="sidenav-menu-nested nav accordion"
                  id="accordionSidenavPages"
          >
            <a class="nav-link" th:href="@{/customer/home}">
              Khách hàng
              <span class="badge bg-primary-soft text-primary ms-auto"
              >Updated</span
              >
            </a>
            <a class="nav-link" id="connect1" th:href="@{/potential/home}">Đầu mối</a>
            <a class="nav-link" href="#">List Khách Hàng</a>
          </nav>
        </div>

        <!-- Sidenav Accordion (Flows)-->
        <a
                class="nav-link collapsed"
                href="javascript:void(0);"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFlows"
                aria-expanded="false"
                aria-controls="collapseFlows"
        >
          <div class="nav-link-icon"><i class="far fa-chart-bar"></i></div>
          Báo cáo
          <div class="sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div
                class="collapse"
                id="collapseFlows"
                data-bs-parent="#accordionSidenav"
        >
          <nav class="sidenav-menu-nested nav">
            <a
                    class="nav-link collapsed"
                    href="javascript:void(0);"
                    data-bs-toggle="collapse"
                    data-bs-target="#pagesCollapseWork"
                    aria-expanded="false"
                    aria-controls="pagesCollapseWork"
            >
              Thống kê
              <div class="sidenav-collapse-arrow">
                <i class="fas fa-angle-down"></i>
              </div>
            </a>
            <div
                    class="collapse"
                    id="pagesCollapseWork"
                    data-bs-parent="#accordionSidenavPagesMenu"
            >
              <nav class="sidenav-menu-nested nav">
                <a class="nav-link" th:href="@{/statistic/potential}">Khách hàng tiềm năng</a>
                <a class="nav-link" href="#">Báo cáo KPI cho nhân viên</a>
              </nav>
            </div>
            <a class="nav-link" th:href="@{/report/source}">Nguồn</a>
            <a class="nav-link" th:href="@{/report/agency}">Môi giới</a>
            <a class="nav-link" th:href="@{/report/customerStatus}">Đánh giá tình trạng khách hàng</a>
            <a
                    class="nav-link collapsed"
                    href="javascript:void(0);"
                    data-bs-toggle="collapse"
                    data-bs-target="#pagesCollapseCustomer"
                    aria-expanded="false"
                    aria-controls="pagesCollapseCustomer"
            >
              Khách Hàng
              <div class="sidenav-collapse-arrow">
                <i class="fas fa-angle-down"></i>
              </div>
            </a>
            <div
                    class="collapse"
                    id="pagesCollapseCustomer"
                    data-bs-parent="#accordionSidenavPagesMenu"
            >
              <nav class="sidenav-menu-nested nav">
                <a class="nav-link" href="#"
                >Báo cáo tình trạng khách hàng</a
                >
                <a class="nav-link" href="#"
                >Báo cáo chăm sóc khách hàng</a
                >
                <a class="nav-link" href="#"
                >Báo cáo giao dịch khách hàng</a
                >
              </nav>
            </div>
          </nav>
        </div>
        <!-- Sidenav Trading Account (Flows)-->
        <a
                class="nav-link collapsed"
                href="javascript:void(0);"
                data-bs-toggle="collapse"
                data-bs-target="#collapseAccount"
                aria-expanded="false"
                aria-controls="collapseAccount"
        >
          <div class="nav-link-icon"><i data-feather="pocket"></i></div>
          Tài khoản giao dịch
          <div class="sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>

        <div
                class="collapse"
                id="collapseAccount"
                data-bs-parent="#accordionSidenav"
        >
          <nav class="sidenav-menu-nested nav">
            <a
                    class="nav-link collapsed"
                    href="javascript:void(0);"
                    data-bs-toggle="collapse"
                    data-bs-target="#pagesCollapseWork"
                    aria-expanded="false"
                    aria-controls="pagesCollapseWork"
            >
              Tất cả tài khoản
              <div class="sidenav-collapse-arrow">
                <i class="fas fa-angle-down"></i>
              </div>
            </a>
            <div
                    class="collapse"
                    id="pagesCollapseWork"
                    data-bs-parent="#accordionSidenavPagesMenu"
            >
              <nav class="sidenav-menu-nested nav">
                <a class="nav-link" th:href="@{/contract/manageTradingAccount}">Trạng Thái</a>
                <a class="nav-link" th:href="@{/tradingAccount/manageTradingAccount}">Số dư</a>
              </nav>
            </div>
            <a class="nav-link" th:href="@{/tradingAccount/manageTradingAccountInMonth}">Cập nhật trong tháng</a>
            <a class="nav-link" th:href="@{/contract/waitingCustomer}">Đang chờ mở tài khoản</a>
            <a class="nav-link" th:href="@{/contract/manageCustomer}">Ký hợp đồng <a>

            <a class="nav-link" th:href="@{/customer/viewContractCustomer}">Đã ký hợp đồng <a>

          </nav>
        </div>
        <!-- Sidenav Heading (App Views)-->
        <div class="sidenav-menu-heading">NHÂN SỰ</div>
        <!-- Sidenav Accordion (Pages)-->
        <a
                class="nav-link collapsed"
                href="javascript:void(0);"
                data-bs-toggle="collapse"
                data-bs-target="#collapsePages"
                aria-expanded="false"
                aria-controls="collapsePages"
        >
          <div class="nav-link-icon"><i data-feather="activity"></i></div>
          Công Ty
          <div class="sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div
                class="collapse"
                id="collapsePages"
                data-bs-parent="#accordionSidenav"
        >
          <nav
                  class="sidenav-menu-nested nav accordion"
                  id="accordionSidenavPages"
          >
            <a class="nav-link" th:href="@{/welcome}">
              Phòng Ban
              <span class="badge bg-primary-soft text-primary ms-auto">Updated</span>
            </a>
            <a class="nav-link" th:href="@{/employee/home}">Nhân Viên</a>
            <a class="nav-link" th:href="@{/permission/home}">Nhóm Quyền</a>
            <a class="nav-link" href="#">Thông Tin Công Ty</a>
          </nav>
        </div>
        <a
                class="nav-link collapsed"
                href="javascript:void(0);"
                data-bs-toggle="collapse"
                data-bs-target="#collapsePages2"
                aria-expanded="false"
                aria-controls="collapsePages2"
        >
          <div class="nav-link-icon"><i data-feather="bell"></i></div>
          Thông báo, Công văn
          <div class="sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div
                class="collapse"
                id="collapsePages2"
                data-bs-parent="#accordionSidenav"
        >
          <nav
                  class="sidenav-menu-nested nav accordion"
                  id="accordionSidenavPages"
          >
            <a class="nav-link" th:href="@{/notification/create}">Thông báo</a>
            <a class="nav-link" th:href="@{/messagechat}">Trò chuyện</a>
          </nav>
        </div>
        <a
                class="nav-link collapsed"
                href="javascript:void(0);"
                data-bs-toggle="collapse"
                data-bs-target="#collapsePagesSetting"
                aria-expanded="false"
                aria-controls="collapsePages"
        >
          <div class="nav-link-icon"><i class="fas fa-hammer"></i></div>
          Công cụ
          <div class="sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div
                class="collapse"
                id="collapsePagesSetting"
                data-bs-parent="#accordionSidenav"
        >
          <nav
                  class="sidenav-menu-nested nav accordion"
                  id="accordionSidenavPagesSetting"
          >
            <a class="nav-link" th:href="@{/junk/home}">
              <div class="nav-link-icon"> <i class="fas fa-trash"></i></div>
              Thùng rác
            </a>
            <a class="nav-link" th:href="@{/employee/marketing-group}">
              <div class="nav-link-icon"><i class="fas fa-users"></i></div>
              Nhóm nhân viên
            </a>
          </nav>
        </div>
      </div>
    </div>
    <!-- Sidenav Footer-->
    <div class="sidenav-footer">
      <div class="sidenav-footer-content">
        <div class="sidenav-footer-subtitle">Logged in as:</div>
        <div class="sidenav-footer-title">Valerie Luna</div>
      </div>
    </div>
  </nav>
</div>
</html>