<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- MAIN.CSS -->
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="outer">
      <ul id="ul">
        <li>
          <span class="caret">Công ty</span>
          <ul class="nested">
            <a href="#"><li>Phòng sale kinh doanh</li></a>
<!--            <li>Item 2</li>-->
<!--            <li>-->
<!--              <span class="caret">Item 3</span>-->
<!--              <ul class="nested">-->
<!--                <li>Item 3.1</li>-->
<!--                <li>Item 3.2</li>-->
<!--                <li>-->
<!--                  <span class="caret">Item 3.3</span>-->
<!--                  <ul class="nested">-->
<!--                    <li>Item 3.3.1</li>-->
<!--                    <li>Item 3.3.2</li>-->
<!--                    <li>Item 3.3.3</li>-->
<!--                  </ul>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->
          </ul>
        </li>
      </ul>
    </div>

    <!-- SCRIPT: VIEW TREE  -->
    <script type="text/javascript" src="/js/view-tree.js"></script>
  </body>
</html>
