<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- MAIN.CSS -->
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="outer">
      <input type="text" value="" id="sizevalue" />
        <ul id="ul">
          <li th:each="company : ${companies}">
            <span class="caret" th:text="${company.name}"></span>
            <ul class="nested" id="nestedId">
              <li th:each="department : ${company.departments}" th:data-value="${department.id}">
                <a th:text="${department.name}"  href="#"></a>
              </li>
            </ul>
          </li>
        </ul>
    </div>
    <!-- SCRIPT: VIEW TREE  -->
    <script type="text/javascript" src="/js/view-tree.js"></script>
    <script src="https://code.jquery.com/jquery-2.0.2.js" integrity="sha256-0u0HIBCKddsNUySLqONjMmWAZMQYlxTRbA8RfvtCAW0=" crossorigin="anonymous"></script>
    <script th:inline="javascript">
      $("#nestedId").on("click", "a", function (e) {
        e.preventDefault();
        var $this = $(this).parent();
        $this.addClass("select").siblings().removeClass("select");
        $("#sizevalue").val($this.data("value"));
      });
    </script>
  </body>
</html>
