<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <form id="form-level-mkt" method="POST" th:action="@{/potential/detail/edit/level/MKT/{id}(id=${potentialDetail.id})}">
      <div
              style="
                      display: flex;
                      vertical-align: baseline;
                      transition: 0.3s ease;
                    "
      >
        <img src="/assets/img/illustrations/profiles/profile-3.png" style="width: 100px; height: 100px; margin-right: 10px"/>
        <div class="text">
          <h3 th:text="*{potentialDetail.name}"></h3>
          <p class="text-muted" th:text="*{potentialDetail.phoneNumber}"></p>
        </div>
      </div>
      </form>
      <div class="d-flex flex-row-reverse">
        <div class="p-1">
          <div class="dropdown">
            <button class="btn btn-outline-dark dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Thao tác
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" th:href="@{'/customer/addCustomer?potentialId=' + ${potentialDetail.id} }">Mở tài khoản giao dịch</a>
            </div>
          </div>
        </div>
        <div class="p-1">
          <!-- Button trigger modal -->
          <button
                  class="btn btn-outline-dark"
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModalEmail"
          >
            Gửi Email
          </button>
        </div>
        <div class="p-1">
          <a class="btn btn-outline-dark" th:href="@{/potential/detail/edit/{id}(id=${potentialDetail.id})}">Sửa</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal Remove-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Bạn có muốn xoá không?</h5>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <form th:action="@{/potential/remove}" method="POST">
          <button class="btn btn-primary" type="submit">
              Xoá
          </button>
        </form>
        <button class="btn btn-secondary" type="button">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Mail-->
<div
        class="modal fade"
        id="exampleModalEmail"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Gửi Email
        </h5>
        <button
                class="btn-close"
                type="button"
                data-bs-dismiss="modal"
                aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row mb-3">
            <label class="small col-sm-3">
              Email Khách hàng
            </label>
            <div class="col-sm-9">
              <label class="small">a@gmail.com</label>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="small col-sm-3">
              Tiêu đề
              <span style="color: red">*</span>
            </label>
            <div class="col-sm-9">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="small col-sm-3">
              Nội dung
              <span style="color: red">*</span>
            </label>
            <div class="col-sm-9">
                      <textarea
                              class="form-control"
                              id="exampleFormControlTextarea1"
                              rows="3"
                      ></textarea>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="small col-sm-3">
              File đính kèm
              <span style="color: red">*</span>
            </label>
            <div class="col-sm-9">
              <input
                      class="form-control form-control-sm"
                      type="file"
                      name="upload"
                      placeholder=""
                      style="border: 1px solid #aaa"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button">Gửi</button>
        <button
                class="btn btn-outline-dark"
                type="button"
                data-bs-dismiss="modal"
        >
          Huỷ
        </button>
      </div>
    </div>
  </div>
</div>
</html>
