<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Thông tin chi tiết - Gia Cat Loi</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
  <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
</head>
<body class="nav-fixed">
<th:block th:include="/common/nav-fixed.html"></th:block>
<div id="layoutSidenav">
  <th:block th:include="/common/layoutSidenav.html"></th:block>
  <div id="layoutSidenav_content">
    <main>
      <header
              class="
              page-header page-header-compact page-header-light
              border-bottom
              bg-white
              mb-4
            "
      >
        <div class="container-fluid px-4">
          <div class="page-header-content">
            <div
                    class="row align-items-center justify-content-between pt-3"
            >
              <div class="col-auto mb-3">
                <nav class="rounded" aria-label="breadcrumb">
                  <ol class="breadcrumb px-3 py-2 rounded mb-0">
                    <li class="breadcrumb-item">
                      <a th:href="@{/potential/home}">Đầu mối</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a th:href="@{/potential/home}">Tất cả</a>
                    </li>
                    <li class="breadcrumb-item active" th:text="*{potentialDetail.name}"></li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="container-fluid px-4">
        <th:block th:include="/potential/common/potential-card-header-hungNT.html"></th:block>

        <!-- Account page navigation-->
        <nav class="nav nav-borders">
          <a class="nav-link active ms-0" th:href="@{/potential/detail/{id}(id=${potentialDetail.id})}">Chi tiết</a>
          <a class="nav-link" th:href="@{/potential/detail/diary/{id}(id=${potentialDetail.id})}">
            <i class="fas fa-calendar-alt"></i>
            Nhật ký
          </a>
          <a class="nav-link" th:href="@{/potential/detail/takecare/MKT/{id}(id=${potentialDetail.id})}">
            Chăm sóc khách hàng
            <span class="badge bg-hung-custom text-white-75 ms-auto">1</span>
          </a>
        </nav>

        <hr class="mt-0 mb-4" />
        <div class="card mb-4 mb-xl-0">
          <div class="card-header">Thông tin chung</div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <p class="small text-muted">Họ và tên</p>
                  </div>
                  <div class="col-md-6">
                    <label class="small mb-1" th:text="*{potentialDetail.name}"></label>
                  </div>
                </div>
                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <p class="small text-muted">Di động</p>
                  </div>
                  <div class="col-md-6">
                    <label class="small mb-1" th:text="*{potentialDetail.phoneNumber}"></label>
                  </div>
                </div>
                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <p class="small text-muted">Email</p>
                  </div>
                  <div class="col-md-6">
                    <label class="small mb-1" th:text="*{potentialDetail.email}"></label>
                  </div>
                </div>
                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <p class="small text-muted">Ngày sinh</p>
                  </div>
                  <div class="col-md-6">
                    <label class="small mb-1">05-11-1992</label>
                  </div>
                </div>
                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <p class="small text-muted">Giới tính</p>
                  </div>
                  <div class="col-md-6">
                    <label class="small mb-1">Nữ</label>
                  </div>
                </div>
                <div class="row gx-3">
                  <div class="col-md-6">
                    <p class="small text-muted">Địa chỉ</p>
                  </div>
                  <div class="col-md-6">
                    <label class="small mb-1" th:text="*{potentialDetail.address}"></label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <p class="small text-muted">Mã khách hàng</p>
                  </div>
                  <div class="col-md-6">
                    <label class="small mb-1"></label>
                  </div>
                </div>
                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <p class="small text-muted">Phòng ban trực thuộc</p>
                  </div>
                  <div class="col-md-6">
                    <label class="small mb-1">Marketing</label>
                  </div>
                </div>
                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <p class="small text-muted">Giao cho</p>
                  </div>
                  <div class="col-md-6">
                    <label class="mb-1"></label>
                    <span class="badge bg-primary-soft text-primary ms-auto">
                      Ms. Anh (a@giacatloi.com)
                    </span>
                  </div>
                </div>
                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <p class="small text-muted">Nguồn</p>
                  </div>
                  <div class="col-md-6">
                    <label class="mb-1">
                      <span class="badge bg-hung-custom text-white-75 ms-auto" th:text="*{potentialDetail.sourceName}">
                      </span>
                    </label>
                  </div>
                </div>
                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <p class="small text-muted">Tình trạng</p>
                  </div>
                  <div class="col-md-6">
                    <label class="small mb-1"></label>
                  </div>
                </div>
                <div class="row gx-3">
                  <div class="col-md-6">
                    <p class="small text-muted">Mô tả</p>
                  </div>
                  <div class="col-md-6">
                    <label class="small mb-1" th:text="*{potentialDetail.note}"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <th:block th:include="/common/footer.html"></th:block>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" th:src="@{/js/mainTH.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/Sms/main.js}"></script>
<script th:inline="javascript">
  /*<![CDATA[*/
  var stompClient = null;
  var userName = /*[[${userName}]]*/ "";

  function connect() {
    var socket = new SockJS('/hello');
    stompClient = Stomp.over(socket);
    stompClient.connect({ username: userName, }, function() {
      console.log('Web Socket is connected');
      stompClient.subscribe('/users/queue/messages', function(message) {
        const Toast = Swal.mixin({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
          }
        })

        Toast.fire({
          icon: 'success',
          title: message.body,
        })
      });
    });
  }
  window.onload = connect;
  /*]]>*/
</script>
</body>
</html>
