<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Thay đổi mật khẩu</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
  <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <main>
      <div class="container">
        <div class="row my-10">
          <div class="col-xl-6">
            <div class="text-center">
              <img class="img-fluid" src="/assets/img/illustrations/change-pass-1.svg" alt=""/>
            </div>
          </div>
          <div class="col-xl-6 my-5">
            <!-- Social registration form-->
            <div class="card">
              <div class="card-body text-center">
                <div class="h1 my-2 fw-light">Đổi mật khẩu</div>
              </div>
              <hr class="my-0" />
              <div class="card-body p-5">
                <form th:action="@{/user/change-password}" method="POST" th:object="${passwordForm}">
                  <div class="mb-3">
                    <label class="text-gray-600 mb-3"
                    >Mật khẩu cũ <span class="text-danger">*</span></label
                    >
                    <input th:field="*{oldPassword}"
                            class="form-control form-control-solid"
                            type="password"
                            placeholder="Nhập mật khẩu cũ"
                    />
                    <span class="text-danger" th:if="${wrongPass}" th:text="${wrongPass}" ></span>
                  </div>

                  <div class="mb-3">
                    <label class="text-gray-600 mb-3"
                    >Mật khẩu mới
                      <span class="text-danger">*</span></label
                    >
                    <input th:field="*{newPassword}"
                            class="form-control form-control-solid"
                            type="password"
                            placeholder="Nhập mật khẩu"
                    />
                  </div>
                  <div class="mb-4">
                    <label class="text-gray-600 mb-3"
                    >Nhập lại mật khẩu mới
                      <span class="text-danger">*</span></label
                    >
                    <input th:field="*{confirmPassword}"
                            class="form-control form-control-solid"
                            type="password"
                            placeholder="Nhập mật khẩu"
                    />
                    <span class="text-danger" th:if="${notMatch}" th:text="${notMatch}" ></span>
                  </div>

                  <button class="btn btn-primary" style="width: 100%" type="submit">
                    Đổi mật khẩu
                  </button>
                </form>
              </div>
              <hr class="my-0" />
              <div class="card-body px-5 py-4">
                <div class="small text-center">
                  Quay lại trang
                  <a th:href="@{/welcome}">Dashboard</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div id="layoutAuthentication_footer">
    <th:block th:include="/common/footer.html"></th:block>
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/mainTH.js}"></script>
<script th:inline="javascript">
  /*<![CDATA[*/
  $(document).ready(function() {
    var showtext = /*[[${flag}]]*/ "";
    if (showtext === 'showAlert') {
      swal.fire({
        position: "top-end",
        icon: "success",
        title: "Cập nhật mật khẩu thành công",
        showConfirmButton: false,
        timer: 5000,
      });
    }
  });

  var stompClient = null;
  var userName = /*[[${userName}]]*/ "";

  function connect() {
    var socket = new SockJS('/hello');
    stompClient = Stomp.over(socket);
    stompClient.connect({ username: userName, }, function() {
      console.log('Web Socket is connected');
      stompClient.subscribe('/users/queue/messages', function(message) {
        const Toast = Swal.mixin({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
          }
        })

        Toast.fire({
          icon: 'success',
          title: message.body,
        })
      });
    });
  }

  window.onload = connect;
  /*]]>*/
</script>
</body>
</html>
