<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Chăm sóc khách hàng tiềm năng - Gia Cat Loi</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
</head>
<body class="nav-fixed">
<th:block th:include="/common/nav-fixed.html"></th:block>
<div id="layoutSidenav">
    <th:block th:include="/common/layoutSidenav.html"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <header
                    class="
              page-header page-header-compact page-header-light
              border-bottom
              bg-white
              mb-4
            "
            >
                <div class="container-fluid px-4">
                    <div class="page-header-content">
                        <div
                                class="row align-items-center justify-content-between pt-3"
                        >
                            <div class="col-auto mb-3">
                                <nav class="rounded" aria-label="breadcrumb">
                                    <ol class="breadcrumb px-3 py-2 rounded mb-0">
                                        <li class="breadcrumb-item">
                                            <a th:href="@{/potential/home}">Đầu mối</a>
                                        </li>
                                        <li class="breadcrumb-item active" th:text="${potentialDetail.name}"></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="container-fluid px-4">
                <th:block th:include="/potential/common/potential-card-header-hungNT.html"></th:block>

                <nav class="nav nav-borders">
                    <a class="nav-link" th:href="@{/potential/detail/{id}(id=${potentialDetail.id})}">Chi tiết</a>
                    <a class="nav-link" th:href="@{/potential/detail/diary/{id}(id=${potentialDetail.id})}">
                        <i class="fas fa-calendar-alt"></i>
                        Nhật ký
                    </a>
                    <a class="nav-link active ms-0" th:href="@{/potential/detail/takecare/MKT/{id}(id=${potentialDetail.id})}">
                        Chăm sóc khách hàng
                        <span class="badge bg-hung-custom text-white-75 ms-auto">1</span>
                    </a>
                </nav>
                <hr class="mt-0 mb-4" />
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">CHĂM SÓC KHÁCH HÀNG</div>
                    <div class="card-body">
                        <form id="form-mkt" method="POST" th:action="@{/potential/detail/take-care/MKT/{id}(id=${potentialDetail.id})}">
                            <input type="hidden" id="name" value="tinh" placeholder="User will receive the message...">
                            <table id="datatablesManageTakeCareOfPotential">
                                <colgroup>
                                    <col width="12%" />
                                    <col width="60%" />
                                    <col width="8%" />
                                    <col width="10%" />
                                    <col width="20%" />
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>Tiêu đề</th>
                                    <th>Nội dung</th>
                                    <th>Cập nhật</th>
                                    <th>Người phụ trách</th>
                                    <th>Ngày cập nhật</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>CHĂM KHÁCH LẦN 1</td>
                                    <td class="asset_value">
                                        <textarea th:text="${potentialDetail.cares.size() < 1 ? '' : potentialDetail.cares.get(0).description}"
                                                  disabled class="form-control" rows="3"></textarea>
                                    </td>
                                    <td>
                                        <input id="send1" class="form-check-input" onchange="$('#form-mkt').submit();" type="checkbox" value="0" name="index"
                                               th:disabled="${potentialDetail.cares.size() < 1 ? true : potentialDetail.cares.get(0).accepted}"
                                               th:checked="${potentialDetail.cares.size() < 1 ? false : potentialDetail.cares.get(0).accepted}"/>
                                    </td>
                                    <td th:text="${potentialDetail.cares.size() < 1 ? '' : potentialDetail.cares.get(0).modifierName}"></td>
                                    <td th:text="${potentialDetail.cares.size() < 1 ? '' : potentialDetail.cares.get(0).acceptDate}"></td>
                                </tr>
                                <tr>
                                    <td>CHĂM KHÁCH LẦN 2</td>
                                    <td class="asset_value">
                                        <textarea th:text="${potentialDetail.cares.size() < 2 ? '' : potentialDetail.cares.get(1).description}"
                                                  disabled class="form-control" rows="3"></textarea>
                                    </td>
                                    <td>
                                        <input id="send2" class="form-check-input" onchange="$('#form-mkt').submit();" type="checkbox" value="1" name="index"
                                               th:disabled="${potentialDetail.cares.size() < 2 ? true : potentialDetail.cares.get(1).accepted}"
                                               th:checked="${potentialDetail.cares.size() < 2 ? false : potentialDetail.cares.get(1).accepted}"/>
                                    </td>
                                    <td th:text="${potentialDetail.cares.size() < 2 ? '' : potentialDetail.cares.get(1).modifierName}"></td>
                                    <td th:text="${potentialDetail.cares.size() < 2 ? '' : potentialDetail.cares.get(1).acceptDate}"></td>
                                </tr>
                                <tr>
                                    <td>CHĂM KHÁCH LẦN 3</td>
                                    <td class="asset_value">
                                        <textarea th:text="${potentialDetail.cares.size() < 3 ? '' : potentialDetail.cares.get(2).description}"
                                                  disabled class="form-control" rows="3"></textarea>
                                    </td>
                                    <td>
                                        <input id="send3" class="form-check-input" onchange="$('#form-mkt').submit();" type="checkbox" value="2" name="index"
                                               th:disabled="${potentialDetail.cares.size() < 3 ? true : potentialDetail.cares.get(2).accepted}"
                                               th:checked="${potentialDetail.cares.size() < 3 ? false : potentialDetail.cares.get(2).accepted}"/>
                                    </td>
                                    <td th:text="${potentialDetail.cares.size() < 3 ? '' : potentialDetail.cares.get(2).modifierName}"></td>
                                    <td th:text="${potentialDetail.cares.size() < 3 ? '' : potentialDetail.cares.get(2).acceptDate}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>

        </main>
        <th:block th:include="/common/footer.html"></th:block>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" th:src="@{/js/mainTH.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables/datatables-custom.js}"></script>
<script th:inline = "javascript">
    /*<![CDATA[*/
    var stompClient = null;
    var userName = /*[[${userName}]]*/ "";

    function connect() {
        var socket = new SockJS('/hello');
        stompClient = Stomp.over(socket);
        stompClient.connect({ username: userName, }, function() {
            console.log('Web Socket is connected');
            stompClient.subscribe('/users/queue/messages', function(message) {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'info',
                    title: message.body,
                })
            });
        });
    }
    window.onload = connect;
    $(function() {
        $("#send1").click(function() {
            stompClient.send("/app/hello", {}, $("#name").val());
        });
        $("#send2").click(function() {
            stompClient.send("/app/hello", {}, $("#name").val());
        });
        $("#send3").click(function() {
            stompClient.send("/app/hello", {}, $("#name").val());
        });
    });
    /*]]>*/
</script>
</body>
</html>