<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thêm khách hàng - Gia Cát Lợi</title>
  <div th:replace="~{common/main :: myHeader}"></div>
</head>
<body class="nav-fixed">
  <th:block th:include="/common/nav-fixed.html"></th:block>
  <div id="layoutSidenav">
    <th:block th:include="/common/layoutSidenav.html"></th:block>
    <div id="layoutSidenav_content">
      <main>
        <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
          <div class="container-fluid px-4">
            <div class="page-header-content">
              <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                  <nav class="rounded" aria-label="breadcrumb">
                    <ol class="breadcrumb px-3 py-2 rounded mb-0">
                      <li class="breadcrumb-item">
                        <a href="#">Đầu mối</a>
                      </li>
                      <li class="breadcrumb-item">
                        <a th:href="@{/potential/home}">Tất cả</a>
                      </li>
                      <li class="breadcrumb-item active">Thêm mới</li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="container-fluid px-4">
          <div class="card mb-4">
            <div class="card-header">THÔNG TIN ĐẦU MỐI</div>
            <div class="card-body">
              <form id="form" class="ui form" th:action="@{/potential/create}" method="POST" th:object="${potentialForm}">
                <div class="row mb-3">
                  <div class="col-lg-6 field description">
                    <label class="text-sm">Họ và tên <span style="color: red">*</span></label>
                    <input id="filterTextLevel"
                            type="text"
                            th:field="*{name}"
                            name= "name"
                            placeholder="Nhập tên khách hàng"/>
                  </div>
                  <div class="col-lg-6 field description">
                    <label class="text-sm">Nguồn <span style="color: red">*</span></label>
                    <select class="ui dropdown" id="selectSource" name="sourceName">
                      <option value="">Lựa chọn</option>
                      <option th:each="source : ${sources}"
                              th:value="${source.sourceName}"
                              th:text="${source.sourceName}">
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3 ">
                  <div class="col-lg-6 field description">
                    <label class="text-sm">Số điện thoại <span style="color: red">*</span></label>
                    <input class="form-control pe-0"
                           id="phone"
                           type="text"
                           th:field="*{phoneNumber}"
                           name= "phoneNumber"
                           placeholder="Nhập số điện thoại"
                           aria-label="Search"/>
                    <!--Tạo error ở đây-->
                    <span th:if="${duplicatePhone}" th:text="${duplicatePhone}" style="color:red"></span>
                  </div>
                  <div class="col-lg-6 field description">
                    <label class="text-sm">Email</label>
                    <input class="form-control pe-0"
                           id="email"
                           type="text"
                           th:field="*{email}"
                           placeholder="Nhập mail"/>
                    <!--Tạo error ở đây-->
                    <span th:if="${duplicateEmail}" th:text="${duplicateEmail}" style="color:red"></span>
                  </div>
                </div>
                <div class="mb-3 field description">
                  <label class="text-sm">Vị trí</label>
                  <textarea th:field="*{address}" rows="3" placeholder="Nhập vị trí"></textarea>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary" style="margin-right: 5px">
                    Lưu
                  </button>
                  <a class="btn btn-outline-dark" th:href="@{/potential/home}">Huỷ bỏ</a>
                </div>
                <div class="ui error message"></div>
              </form>
            </div>
          </div>
        </div>
      </main>
      <th:block th:include="/common/footer.html"></th:block>
    </div>
  </div>
  <div th:replace="~{common/main :: myScript_v2}"></div>
  <div th:replace="~{common/main :: mySweetalert}"></div>
</body>
</html>
