<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Chỉnh sửa Đầu mối - Gia Cát Lợi</title>
  <div th:replace="~{common/main :: myHeader}"></div>
</head>
<body class="nav-fixed">
  <th:block th:include="/common/nav-fixed.html"></th:block>
  <div id="layoutSidenav">
    <th:block th:include="/common/layoutSidenav.html"></th:block>
    <div id="layoutSidenav_content">
      <main>
        <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
          <div class="container-fluid px-4">
            <div class="page-header-content">
              <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                  <nav class="rounded" aria-label="breadcrumb">
                    <ol class="breadcrumb px-3 py-2 rounded mb-0">
                      <li class="breadcrumb-item">
                        <a th:href="@{/potential/home}">Đầu mối</a>
                      </li>
                      <li class="breadcrumb-item">
                        <a th:href="@{/potential/home}">Tất cả</a>
                      </li>
                      <li class="breadcrumb-item">
                        <a href="#">Đang sửa</a>
                      </li>
                      <li class="breadcrumb-item active" th:text="*{potential.name}"></li>
                    </ol>
                  </nav>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                  <div class="d-flex">
                    <button form="form-edit-potential" class="btn btn-primary mx-1" type="submit">
                      Lưu
                    </button>
                    <a th:href="@{/potential/home}" class="btn btn-outline-dark mx-1">
                      Huỷ bỏ
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="container-fluid px-4">
          <form class="ui form" id="form-edit-potential" th:action="@{/potential/edit}" method="POST" th:object="${potential}">
            <input type="hidden" th:field="*{id}"/>
            <div class="card mb-4">
              <div class="card-header">THÔNG TIN CHUNG</div>
              <div class="card-body">
                <div class="row mb-3">
                  <div class="col-lg-6 field description">
                    <label class="text-sm">
                      Họ và tên <span style="color: red">*</span>
                    </label>
                    <input type="text" name="name" placeholder="Nhập tên khách hàng" th:field="*{name}"/>
                  </div>
                  <div class="col-lg-6 field description">
                    <label class="text-sm">
                      Nguồn <span style="color: red">*</span>
                    </label>
                    <select class="ui dropdown" id="selectSource" name="source">
                      <option th:each="source : ${sources}"
                              th:text="${source.sourceName}"
                              th:value="${source.sourceId}"
                              th:selected="${source.equals(potential.source)}">
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-6 field description">
                    <label class="text-sm">
                      Số điện thoại <span style="color: red">*</span>
                    </label>
                    <input th:field="*{phoneNumber}"
                           type="text"
                           placeholder="Nhập số điện thoại"
                           aria-label="Search"/>
                  </div>
                  <div class="col-lg-6 field description">
                    <label class="text-sm">
                      Email
                    </label>
                    <input th:field="*{email}"
                           type="email"
                           placeholder="Nhập mail"
                           aria-label="Search"/>
                  </div>
                </div>
                <div class="mb-3 field description">
                  <label class="text-sm">Vị trí</label>
                  <textarea class="form-control"
                            rows="3"
                            placeholder="Nhập vị trí"
                            th:field="*{address}">
                  </textarea>
                </div>
                <div class="ui error message"></div>
              </div>
            </div>
          </form>
        </div>
      </main>
      <th:block th:include="/common/footer.html"></th:block>
    </div>
  </div>
  <div th:replace="~{common/main :: myScript_v2}"></div>
  <div th:replace="~{common/main :: mySweetalert}"></div>
</body>
</html>
