<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <title>Đầu mối - Gia Cát Lợi</title>
  <link
          href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
          rel="stylesheet"
  />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
  <script
          data-search-pseudo-elements
          defer
          src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
          crossorigin="anonymous"
  ></script>
  <script
          src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"
          crossorigin="anonymous"
  ></script>
  <link
          rel="stylesheet"
          type="text/css"
          href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
  />
</head>
<body class="nav-fixed">
<th:block th:include="/common/nav-fixed.html"></th:block>
<div id="layoutSidenav">
  <th:block th:include="/common/layoutSidenav.html"></th:block>
  <div id="layoutSidenav_content">
    <main>
      <header
              class="
              page-header page-header-compact page-header-light
              border-bottom
              bg-white
              mb-4
            "
      >
        <div class="container-fluid px-4">
          <div class="page-header-content">
            <div
                    class="row align-items-center justify-content-between pt-3"
            >
              <div class="col-auto mb-3">
                <nav class="rounded" aria-label="breadcrumb">
                  <ol class="breadcrumb px-3 py-2 rounded mb-0">
                    <li class="breadcrumb-item">
                      <a href="#">Đầu mối</a>
                    </li>
                    <li class="breadcrumb-item active">Tất cả</li>
                  </ol>
                </nav>
              </div>
              <div class="col-12 col-xl-auto mb-3">
                <!-- Extra large modal -->
                <button
                        class="btn btn-outline-dark"
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModalXl"
                >
                  <i
                          class="fas fa-file-import"
                          style="padding-right: 2px"
                  ></i>
                  Nhập dữ liệu
                </button>
                <button class="btn btn-outline-dark">
                  <i class="fas fa-plus" style="padding-right: 2px"></i>
                  Thêm đầu mối
                </button>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Main page content-->
      <div class="container-fluid px-4">
        <div style="height: 100%; position: relative">
          <div class="row">
            <div class="col-lg-3 mb-4">
              <!-- Report summary card example-->
              <div class="card mb-4">
                <div class="card-header">TRA CỨU</div>
                <div class="card-body">
                  <form>
                    <div class="mb-3">
                      <label
                              for="exampleFormControlInput1 small"
                              class="text-sm"
                      >Tên khách hàng</label
                      >
                      <input
                              class="form-control"
                              id="filterTextLevel"
                              type="text"
                              placeholder="Nhập tên khách hàng"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                              for="exampleFormControlInput1 small"
                              class="text-sm"
                      >Số điện thoại</label
                      >
                      <!-- Joined input group append example-->
                      <div class="input-group input-group-joined">
                        <input
                                class="form-control pe-0"
                                type="text"
                                placeholder="Nhập số điện thoại"
                                aria-label="Search"
                        />
                        <span class="input-group-text">
                              <i data-feather="phone"></i>
                            </span>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label
                              for="exampleFormControlInput1 small"
                              class="text-sm"
                      >Email</label
                      >
                      <!-- Joined input group append example-->
                      <div class="input-group input-group-joined">
                        <input
                                class="form-control pe-0"
                                type="text"
                                placeholder="Nhập mail"
                                aria-label="Search"
                        />
                        <span class="input-group-text">
                              <i data-feather="mail"></i>
                            </span>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label
                              for="exampleFormControlInput1 small"
                              class="text-sm"
                      >Nguồn gốc</label
                      >
                      <select class="form-select" id="filterDropdown">
                        <option>Facebook</option>
                        <option>Zalo</option>
                        <option>Website Gia Cat Loi</option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label
                              for="exampleFormControlInput1 small"
                              class="text-sm"
                      >Tình trạng</label
                      >
                      <select class="form-select" id="filterDropdown">
                        <option>Level 1</option>
                        <option>Level 2</option>
                        <option>Level 3</option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label
                              for="exampleFormControlInput1 small"
                              class="text-sm"
                      >Chiến dịch</label
                      >
                      <select class="form-select" id="filterDropdown">
                        <option>Level 1</option>
                        <option>Level 2</option>
                        <option>Level 3</option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label
                              for="exampleFormControlInput1 small"
                              class="text-sm"
                      >Thời gian</label
                      >
                      <!-- Date Range Picker Example-->
                      <div class="input-group input-group-joined">
                        <input
                                class="form-control pointer"
                                id="litepickerRangePlugin"
                                placeholder="Lựa chọn"
                        />
                        <span class="input-group-text"
                        ><i data-feather="calendar"></i
                        ></span>
                      </div>
                    </div>

                    <div class="d-flex align-center">
                      <button
                              class="btn btn-primary"
                              style="margin-right: 10px"
                      >
                        Tìm kiếm
                      </button>
                      <button class="btn btn-outline-dark">Mặc định</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-9 mb-4">
              <!-- Area chart example-->
              <div class="card mb-4">
                <div class="card-body">
                  <table id="datatablesSimple">
                    <thead>
                    <tr>
                      <th></th>
                      <th>TÊN</th>
                      <th>DI ĐỘNG</th>
                      <th>EMAIL</th>
                      <th>NGUỒN</th>
                      <th>TÌNH TRẠNG</th>
                      <th>GIAO CHO</th>
                      <th>GIAO CHO</th>
                      <th>NGÀY SỬA</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <th:block th:include="/common/footer.html"></th:block>

    <!-- Modal Import -->
    <div
            class="modal fade"
            id="exampleModalXl"
            tabindex="-1"
            role="dialog"
            aria-labelledby="myExtraLargeModalLabel"
            style="display: none"
            aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Nhập dữ liệu từ file Excel</h5>
            <button
                    class="btn-close"
                    type="button"
                    data-bs-dismiss="modal"
                    aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row gx-3 mb-2">
              <div class="col-md-4">
                <label class="small">Chọn file Excel</label>
              </div>
              <div class="col-md-8">
                <input
                        class="form-control form-control-sm"
                        type="file"
                        name="upload"
                        placeholder=""
                        style="border: 1px solid #aaa"
                />
              </div>
            </div>
            <div class="row gx-3 mb-2">
              <div class="col-md-4">
                <label class="small">Kiểu ký tự</label>
              </div>
              <div class="col-md-4">
                <select
                        class="form-select form-select-sm"
                        id="exampleFormControlSelect1"
                >
                  <option>UTF-8</option>
                  <option>ISO-8859-1</option>
                </select>
              </div>
            </div>
            <div class="row gx-3 mb-2">
              <div class="col-md-4">
                <label class="small">Bản ghi trùng</label>
              </div>
              <div class="col-md-8">
                <div class="d-flex">
                  <div class="form-check form-check-solid mx-2">
                    <input
                            class="form-check-input"
                            id="flexRadioSolid1"
                            type="radio"
                            name="flexRadioSolid"
                    />
                    <label
                            class="form-check-label small"
                            for="flexRadioSolid1"
                    >Bỏ qua</label
                    >
                  </div>
                  <div class="form-check form-check-solid">
                    <input
                            class="form-check-input"
                            id="flexRadioSolid2"
                            type="radio"
                            name="flexRadioSolid"
                            checked
                    />
                    <label
                            class="form-check-label small"
                            for="flexRadioSolid2"
                    >Ghi đè (theo mã KH)</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
                    class="btn btn-primary"
                    type="button"
                    data-bs-dismiss="modal"
            >
              Tiếp tục
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"
></script>
<script type="text/javascript" th:src="@{/js/mainTH.js}"></script>
<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript" th:src="@{/js/datatables/datatables-simple-demo.js}"></script>
<script type="text/javascript" th:src="@{/js/litepicker.js}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script
        src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
        crossorigin="anonymous"
></script>
<script
        type="text/javascript"
        src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
        crossorigin="anonymous"
></script>
<script th:inline="javascript">
  const dataTable = new simpleDatatables.DataTable("#datatablesSimple", {
    fixedHeight: true,
    labels: {
      placeholder: "Tìm kiếm đầu mối...",
      perPage: "Show {select} leads per page",
      noRows: "Không có đầu mối",
    },
  });
</script>
</body>
</html>
