<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Đầu mối - Gia Cát Lợi</title>
  <div th:replace="~{common/main :: mySimpleDatatables}"></div>
  <div th:replace="~{common/main :: myHeader}"></div>
  <div th:replace="~{common/main :: myDateRangePicker}"></div>
</head>
<body class="nav-fixed">
  <th:block th:include="/common/nav-fixed.html"></th:block>
  <div id="layoutSidenav">
    <th:block th:include="/common/layoutSidenav.html"></th:block>
    <div id="layoutSidenav_content">
      <main>
        <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
          <div class="container-fluid px-4">
            <div class="page-header-content">
              <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                  <nav class="rounded" aria-label="breadcrumb">
                    <ol class="breadcrumb px-3 py-2 rounded mb-0">
                      <li class="breadcrumb-item">
                        <a href="#">Đầu mối</a>
                      </li>
                      <li class="breadcrumb-item active">Tất cả</li>
                    </ol>
                  </nav>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                  <div class="d-flex">
                    <button class="btn btn-outline-dark mx-1" type="button" data-bs-toggle="modal" data-bs-target="#cusotmerModalXL">
                      <i class="fas fa-file-import" style="padding-right: 2px"></i>
                      Import khách hàng
                    </button>
                    <button class="btn btn-outline-dark mx-1" type="button" data-bs-toggle="modal" data-bs-target="#potentialModalXL">
                      <i class="fas fa-file-import" style="padding-right: 2px"></i>
                      Import đầu mối
                    </button>
                    <a class="btn btn-outline-dark mx-1" th:href="@{/potential/create}">
                      <i class="fas fa-plus" style="padding-right: 2px"></i>
                      Thêm đầu mối
                    </a>
                    <div class="dropdown no-caret">
                      <button class="btn btn-outline-dark dropdown-toggle"
                              id="dropdownMenuButton"
                              type="button"
                              data-bs-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false">
                        <i data-feather="more-vertical"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right animated--fade-in-up" aria-labelledby="dropdownMenuButton">
                        <button id="hdnModalPotentailSharing" data-bs-toggle="modal" data-bs-target="#modalShareLead" hidden>
                          Chia sẻ đầu mối
                        </button>
                        <a href="#" class="dropdown-item" id = "modalPotentailSharing">
                          Chia sẻ đầu mối
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="container-fluid px-4">
          <div style="height: 100%; position: relative">
            <div class="row">
              <div class="col-lg-3 mb-4">
                <div class="card card-header-actions mb-4">
                  <div class="card-header">
                    TRA CỨU
                  </div>
                  <div class="card-body">
                    <form th:action="@{/potential/search}" th:object="${searchForm}" autocomplete="off">
                      <div class="mb-3">
                        <label class="text-sm">Tên khách hàng</label>
                        <input th:field="*{name}"
                               class="form-control"
                               id="potential-name"
                               type="text"
                               placeholder="Nhập tên khách hàng"/>
                      </div>
                      <div class="mb-3">
                        <label class="text-sm">Số điện thoại</label>
                        <div class="input-group input-group-joined">
                          <input th:field="*{phone}"
                                 id="phone-number"
                                 class="form-control pe-0"
                                 type="text"
                                 placeholder="Nhập số điện thoại"
                                 aria-label="Search"/>
                          <span class="input-group-text">
                            <i data-feather="phone"></i>
                          </span>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label class="text-sm">Email</label>
                        <div class="input-group input-group-joined">
                          <input th:field="*{email}"
                                 id="email"
                                 class="form-control pe-0"
                                 type="text"
                                 placeholder="Nhập mail"
                                 aria-label="Search"/>
                          <span class="input-group-text">
                            <i data-feather="mail"></i>
                          </span>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label class="text-sm">Nguồn gốc</label>
                        <select class="form-select" id="selectSource" th:field="*{source}">
                          <option selected value="" >Tất cả</option>
                          <option th:each="source : ${sources}" th:text="${source.sourceName}" th:value="${source.sourceName}"></option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label class="text-sm">Tình trạng</label>
                        <select class="form-select" id="selectLevel" th:field="*{level}">
                          <option selected value="" >Tất cả</option>
                          <option th:each="level : ${levels}" th:text="${level.levelName}" th:value="${level.levelId}"></option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label class="text-sm">Đánh giá</label>
                        <select class="form-select" id="selectRanking" >
                          <option selected value="" >Tất cả</option>
                          <option value="2" >HIGH</option>
                          <option value="1" >MEDIUM</option>
                          <option value="0" >LOW</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label class="text-sm">
                          Thời gian
                        </label>
                        <div class="input-group input-group-joined">
                          <input th:field="*{time}"
                                 class="form-control pointer"
                                 id="litepickerRangePlugin"
                                 placeholder="Lựa chọn"
                          />
                          <span class="input-group-text">
                            <i data-feather="calendar"></i>
                          </span>
                        </div>
                      </div>
                      <div class="d-flex align-center">
                        <button type="submit"
                                class="btn btn-primary"
                                style="margin-right: 10px">
                          Tìm kiếm
                        </button>
                        <button type="reset" class="btn btn-outline-dark">Mặc định</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-lg-9 mb-4">
                <div class="card card-scrollable mb-4">
                  <div class="card-body" style="max-height: 45em;">
                    <form id="devel-generate-content-form">
                      <div class="d-flex justify-content-between mb-2">
                        <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#removeModal">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                        <div class="info text-center">
                          <span>Đang xem tất cả các đầu mối</span>
                          <div class="flex-row">
                            <a href="#" class="text-sm" id="selectAll">
                              Chọn tất cả đầu mối
                            </a>
                          </div>
                        </div>
                        <i class="fas fa-redo-alt" style="color: white"></i>
                      </div>
                      <table id="datatablesPotentials">
                        <thead>
                        <tr>
                          <th></th>
                          <th>TÊN</th>
                          <th>DI ĐỘNG</th>
                          <th>EMAIL</th>
                          <th>NGUỒN</th>
                          <th>TÌNH TRẠNG</th>
                          <th>GIAO CHO</th>
                          <th>ĐÁNH GIÁ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="potential : ${potentials}" th:id="${potential.id}">
                          <td>
                            <div class="d-flex">
                              <input class="m-1 potential-id" type="checkbox" th:value="${potential.id}" name="potential-id" form="remove-form" />
                              <a th:href="@{/potential/detail/{id}(id=${potential.id})}" class="text-dark mx-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Thông tin chi tiết">
                                <i class="fas fa-info-circle"></i>
                              </a>
                              <a th:href="@{/potential/detail/edit/{id}(id=${potential.id})}" class="text-dark mx-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Cập nhật">
                                <i class="fas fa-edit"></i>
                              </a>
                            </div>
                          </td>
                          <td th:text="${potential.name}"></td>
                          <td th:text="${potential.phoneNumber}"></td>
                          <td th:text="${potential.email}"></td>
                          <td>
                            <span th:if="${potential.source}" th:text="${potential.source.sourceName}"></span>
                          </td>
                          <td>
                            <span th:if="${potential.level}" th:text="${potential.level.levelName}"></span>
                          </td>
                          <td th:text="${potentialMap.get(potential.id)}"></td>
                          <td>
                            <span th:if="${potential.potentialRating != null}">
                                <span th:if="${potential.potentialRating.getValue().equals(2)}" th:text="${potential.potentialRating}" class="text-danger"></span>
                                <span th:if="${potential.potentialRating.getValue().equals(1)}" th:text="${potential.potentialRating}" class="text-primary"></span>
                                <span th:if="${potential.potentialRating.getValue().equals(0)}" th:text="${potential.potentialRating}" class="text-warning"></span>
                            </span>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <th:block th:include="/common/footer.html"></th:block>

      <!--Fragment-->
      <div th:replace="~{common/popup :: popupImport('cusotmerModalXL' , @{/potential/importOldDataCustomer})}"></div>
      <div th:replace="~{common/popup :: popupImport('potentialModalXL' , @{/potential/import})}"></div>
      <div th:replace="~{common/popup :: popupShareCustomer}"></div>
      <div th:replace="~{common/popup :: popupError}"></div>
      <div th:replace="~{common/popup :: popupRemove}"></div>
      <!--End Fragment-->
    </div>
  </div>
  <!--Fragment: Script-->
  <div th:replace="~{common/main :: myScript}"></div>
  <div th:replace="~{common/main :: mySweetalert}"></div>
  <!--Fragment: Script End-->
</body>
</html>
