<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Cơ cấu công ty</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>

</head>
<body class="nav-fixed">
<th:block th:include="/common/nav-fixed.html"></th:block>
<div id="layoutSidenav">
  <th:block th:include="/common/layoutSidenav.html"></th:block>
  <div id="layoutSidenav_content">
    <main>
      <header class="
              page-header page-header-dark
              bg-gradient-primary-to-secondary
              pb-10
            "
      >
        <div class="container-xl px-4">
          <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
              <div class="col-auto mt-4">
                <h1 class="page-header-title">
                  <div class="page-header-icon">
                    <i data-feather="filter"></i>
                  </div>
                  Thêm mới nhóm quyền
                </h1>
                <div class="page-header-subtitle">
                  Nhóm quyền được thêm mới vào hệ thống
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Main page content-->
      <div class="container-xl px-4 mt-n10">
        <div class="card mb-4 card-header-actions mx-auto">
          <div class="card-header">
            Thông tin nhóm quyền
            <div>
              <button form="insert-form" type="submit" class="btn btn-primary" id="insert1">Lưu</button>
              <a class="btn btn-outline-dark" th:href="@{/permission/home}">Trở về</a>
            </div>
          </div>
          <div class="card-body">
            <form method="POST" id="insert-form" th:action="@{/permission/create}" th:object="${permission}">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nhóm quyền<span style="color: red">*</span></label></label>
                <div class="col-sm-10">
                  <input th:field="*{name}" class="form-control form-control-solid" type="text" placeholder="Nhập nhóm quyền">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Mô tả</label>
                <div class="col-sm-10">
                  <textarea th:field="*{description}" class="form-control form-control-solid" rows="3" placeholder="Nhập mô tả"></textarea>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="mb-4 d-flex flex-row">
          <div class="p-2">
            <button class="btn btn-primary" id="checkAll" onClick="selectAllNone()">
              Chọn toàn quyền
            </button>
          </div>
          <div class="p-2">
            <button class="btn btn-outline-dark" id="uncheckAll" onClick="ClearAll()">Thu gọn</button>
          </div>
        </div>

        <div class="card mb-4 card-header-actions mx-auto">
          <div class="card-header">
            Chọn quyền
          </div>
          <div class="card-body">
            <div id="treeview_container" class="hummingbird-treeview">
              <ul id="treeview" class="hummingbird-base d-grid gap-3 d-md-flex justify-content-between mh-100">
                <li th:each="type : ${actionTypes}">
                  <i class="fa fa-minus"></i>
                  <input th:id="${'action-type-' + type.id}" data-id="custom-0" type="checkbox" />
                  <label th:for="${'action-type-' + type.id}" th:text="${type.name}"></label>
                  <ul style="display: block">
                    <li th:each="action : ${type.actions}">
<!--                      <i class="fa fa-plus"></i>-->
                      <input th:id="${'action-' + action.id}" name="action-id"
                             th:value="${action.id}" id="node-0-1" data-id="custom-1"
                             type="checkbox" form="insert-form" />
                      <label th:for="${'action-' + action.id}" th:text="${action.name}"></label>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
    <th:block th:include="/common/footer.html"></th:block>
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/hummingbird-dev/hummingbird-treeview@v2.1.7/hummingbird-treeview.min.js"></script>
<script type="text/javascript" th:src="@{/js/mainTH.js}"></script>
<!--<script type="text/javascript" th:src="@{/js/sweetalert.js}"></script>-->
<script th:inline="javascript">
  $("#treeview").hummingbird();
</script>
<script th:inline="javascript">
  /*<![CDATA[*/
  $(document).ready(function() {
    var showtext = /*[[${flag}]]*/ "";
    console.log(showtext);
    if (showtext === 'showAlert') {
      swal.fire({
        position: "top-end",
        icon: "success",
        title: "Lưu thành công",
        showConfirmButton: false,
        timer: 3000,
      });
    }
  });
  /*]]>*/
</script>
</body>
</html>
