<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Chỉnh sửa nhóm nhân viên - Gia Cát Lợi</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
  <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
</head>
<body class="nav-fixed">
<th:block th:include="/common/nav-fixed.html"></th:block>
<div id="layoutSidenav">
  <th:block th:include="/common/layoutSidenav.html"></th:block>
  <div id="layoutSidenav_content">
    <main>
      <header
              class="
              page-header page-header-compact page-header-light
              border-bottom
              bg-white
              mb-4
            "
      >
        <div class="container-fluid px-4">
          <div class="page-header-content">
            <div
                    class="row align-items-center justify-content-between pt-3"
            >
              <div class="col-auto mb-3">
                <nav class="rounded" aria-label="breadcrumb">
                  <ol class="breadcrumb px-3 py-2 rounded mb-0">
                    <li class="breadcrumb-item">
                      <a href="#">Nhóm nhân viên</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a th:href="@{/employee/marketing-group}">Tất cả</a>
                    </li>
                    <li class="breadcrumb-item active" th:text="${marketingGroup.name}"></li>
                  </ol>
                </nav>
              </div>
              <div class="col-12 col-xl-auto mb-3">
                <!-- Extra large modal -->
                <div class="d-flex">
                  <button
                          class="btn btn-outline-dark mx-1"
                          data-bs-toggle="modal"
                          data-bs-target="#exampleModalCenter"
                  >
                    <div class="nav-link-icon"><i class="far fa-trash-alt" style="padding-right: 2px;"></i></div>
                    Xoá
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Main page content-->
      <div class="container-fluid px-4">
        <!-- Report summary card example-->
        <div class="card card-header-actions mb-4">
          <div class="card-header">CẬP NHẬT THÔNG TIN</div>
          <div class="card-body">
            <form class="ui form"
                  th:action="@{/employee/marketing-group/update}"
                  method="POST">
              <div class="row mb-2">
                <div class="col-sm-4">
                  <label>Mã ID <span style="color: red">*</span></label>
                </div>
                <div class="col-sm-7 field description">
                  <input placeholder="Nhập mã ID" name="code" type="text" th:value="${marketingGroup.code}"/>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-sm-4">
                  <label>Tên nhóm <span style="color: red">*</span></label>
                </div>
                <div class="col-sm-7 field description">
                  <input placeholder="Nhập tên nhóm..." name="name" type="text" th:value="${marketingGroup.name}"/>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-sm-4">
                  <label
                  >Thành viên <span style="color: red">*</span></label
                  >
                </div>
                <div class="col-sm-7 field description">
                  <div class="ui multiple selection dropdown">
                    <i class="dropdown icon"></i>
                    <div class="default text">Chọn nhân viên</div>
                    <select multiple id="multi-select" name="members">
                      <option value="">Categories</option>
                      <option th:each="employee : ${employees}"
                              th:value="${employee.id}"
                              th:text="${employee.name} + ' (' + ${employee.companyEmail} + ')'"
                              th:selected="${marketingGroup.employees.contains(employee)}"
                      ></option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-sm-4">
                  <label>Ghi chú</label>
                </div>
                <div class="col-sm-7 field description">
                      <textarea
                              class="form-control"
                              name="description"
                              id="exampleFormControlTextarea1"
                              rows="3"
                      ></textarea>
                </div>
              </div>
              <div class="d-flex align-center">
                <input type="hidden" name="id" th:value="*{marketingGroup.id}"/>
                <input type="hidden" name="listSelected" th:value="*{membersGroup}"/>
                <button
                        class="ui blue submit button"
                        style="margin-right: 10px"
                        type="submit"
                >
                  Cập nhật
                </button>
                <div class="ui clear button">Clear</div>
              </div>
              <div class="ui error message"></div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <th:block th:include="/common/footer.html"></th:block>

    <!-- Modal Delete Group-->
    <div
            class="modal fade"
            id="exampleModalCenter"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <form class="ui form segment" th:action="@{/employee/marketing-group/delete}" method="POST">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">
                Bạn có muốn xoá nhóm này không?
              </h5>
              <button
                      class="btn-close"
                      type="button"
                      data-bs-dismiss="modal"
                      aria-label="Close"
              ></button>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="idDl" th:value="*{marketingGroup.id}"/>
              <button class="btn btn-primary" type="submit">
                Xoá
              </button>
              <button
                      class="btn btn-outline-dark"
                      type="button"
                      data-bs-dismiss="modal"
              >
                Huỷ bỏ
              </button>
            </div>
            <div class="ui error message"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="https://semantic-ui.com/dist/components/form.js"></script>
<script src="https://semantic-ui.com/javascript/validate-form.js"></script>
<script src="https://semantic-ui.com/dist/components/popup.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" th:src="@{/js/mainTH.js}"></script>
<script type="text/javascript" th:src="@{/js/semantic/main.js}"></script>
<script th:inline="javascript">
  $(".ui.form").form({
    fields: {
      code: {
        identifier: "code",
        rules: [
          {
            type: "empty",
            prompt: "Không bỏ trống mã ID.",
          },
        ],
      },
      name: {
        identifier: "name",
        rules: [
          {
            type: "empty",
            prompt: "Không bỏ trống tên nhóm.",
          },
        ],
      },
      members: {
        identifier: "members",
        rules: [
          {
            type: "maxCount[5]",
            prompt: "Tối đa 5 thành viên trong nhóm.",
          },
          {
            type: "empty",
            prompt: "Không bỏ trống thành viên",
          },
        ],
      },
    },
  });

  $(".field.description").popup({
    popup: $(".description.popup"),
    on: "click",
  });
</script>
<script th:inline="javascript">
  /*<![CDATA[*/
  $(document).ready(function() {
    var showtext = /*[[${flag}]]*/ "";
    console.log(showtext);
    if (showtext === 'showAlert') {
      swal.fire({
        position: "top-end",
        icon: "success",
        title: "Sửa thông tin thành công",
        showConfirmButton: false,
        timer: 5000,
      });
    }
    else if (showtext === 'showAlertError') {
      swal.fire({
        position: "top-end",
        icon: "error",
        title: "Sửa thông tin nhóm thất bại",
        showConfirmButton: false,
        timer: 5000,
      });
    }
  });

  var stompClient = null;
  var userName = /*[[${userName}]]*/ "";

  function connect() {
    var socket = new SockJS('/hello');
    stompClient = Stomp.over(socket);
    stompClient.connect({ username: userName, }, function() {
      console.log('Web Socket is connected');
      stompClient.subscribe('/users/queue/messages', function(message) {
        const Toast = Swal.mixin({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
          }
        })

        Toast.fire({
          icon: 'success',
          title: message.body,
        })
      });
    });
  }

  window.onload = connect;
  /*]]>*/
</script>
</body>
</html>
