<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Nhóm nhân viên - Gia Cát Lợi</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/collapse.css}"/>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
</head>
<body class="nav-fixed">
<th:block th:include="/common/nav-fixed.html"></th:block>
<div id="layoutSidenav">
    <th:block th:include="/common/layoutSidenav.html"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <header class="
              page-header page-header-compact page-header-light
              border-bottom
              bg-white
              mb-4
            "
            >
                <div class="container-fluid px-4">
                    <div class="page-header-content">
                        <div
                                class="row align-items-center justify-content-between pt-3"
                        >
                            <div class="col-auto mb-3">
                                <nav class="rounded" aria-label="breadcrumb">
                                    <ol class="breadcrumb px-3 py-2 rounded mb-0">
                                        <li class="breadcrumb-item">
                                            <a href="#">Đầu mối</a>
                                        </li>
                                        <li class="breadcrumb-item active">Tất cả</li>
                                    </ol>
                                </nav>
                            </div>
                            <div class="col-12 col-xl-auto mb-3">
                                <!-- Extra large modal -->
                                <div class="d-flex">
                                    <button class="btn btn-outline-dark mx-1"  data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                                        <i class="fas fa-plus" style="padding-right: 2px"></i>
                                        Thêm nhóm nhân viên
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-fluid px-4">
                <div style="height: 100%; position: relative">
                    <div class="row">
                        <div class="col-lg-3 mb-4">
                            <!-- Report summary card example-->
                            <div class="card card-header-actions mb-4">
                                <div class="card-header">
                                    TRA CỨU
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="mb-3">
                                            <label
                                                    for="exampleFormControlInput1 small"
                                                    class="text-sm"
                                            >Tên nhóm</label
                                            >
                                            <input
                                                    class="form-control"
                                                    id="filterTextLevel"
                                                    type="text"
                                                    placeholder="Nhập tên nhóm"
                                            />
                                        </div>
                                        <div class="d-flex align-center">
                                            <button
                                                    class="btn btn-primary"
                                                    style="margin-right: 10px"
                                            >
                                                Tìm kiếm
                                            </button>
                                            <button class="btn btn-outline-dark">Mặc định</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 mb-4">
                            <!-- Area chart example-->
                            <div class="card mb-4">
                                <div class="card-body">
                                    <form id="devel-generate-content-form">
                                        <table id="datatablesSimple">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th>Mã ID</th>
                                                <th>TÊN NHÓM</th>
                                                <th>MÔ TẢ</th>
                                                <th>SỐ LƯỢNG NHÂN VIÊN</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <div class="d-flex">
                                                        <a th:href="@{/employee/editGroup}" class="text-dark mx-1">
                                                            <i class="fas fa-edit"></i>
                                                        </a>
                                                        <a href="#" class="text-dark clickshowinfo">
                                                            <i class="fas fa-info-circle"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>003C001</td>
                                                <td>Nguyen Van A</td>
                                                <td>0123456789</td>
                                                <td>a@gmail.com</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <th:block th:include="/common/footer.html"></th:block>

        <!-- Modal quink details group -->
        <div class="user-info">
            <div class="user-info-in card card-header-actions mx-auto">
                <div class="card-header">
                    Thông tin nhóm
                    <a href="#" class="cc">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <div class="card-body">
                    <div style="display: flex; transition: 0.3s ease" class="mb-2">
                        <i
                                class="fas fa-users"
                                style="width: 70px; height: 70px; margin-right: 10px"
                        ></i>
                        <div class="d-flex flex-column">
                            <h6>Nhóm MKT 1</h6>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-sm mb-2">Sửa thông tin</button>
                    <div class="row gx-3 mb-1">
                        <div class="col-md-6">
                            <p class="small text-muted">Mã ID</p>
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1">003C01</label>
                        </div>
                    </div>
                    <div class="row gx-3 mb-1">
                        <div class="col-md-6">
                            <p class="small text-muted">Tên nhóm</p>
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1">Nhóm MKT 1</label>
                        </div>
                    </div>
                    <div class="row gx-3 mb-1">
                        <div class="col-md-6">
                            <p class="small text-muted">Thành viên</p>
                        </div>
                        <div class="col-md-6">
                            <div class="badge bg-primary text-white rounded-pill">
                                Nguyễn Văn A (a@giacatloi.com)
                            </div>
                            <div class="badge bg-primary text-white rounded-pill">
                                Nguyễn Văn B (b@giacatloi.com)
                            </div>
                        </div>
                    </div>
                    <div class="row gx-3 mb-1">
                        <div class="col-md-6">
                            <p class="small text-muted">Ngày tạo</p>
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1">02/05/2020</label>
                        </div>
                    </div>
                    <div class="row gx-3 mb-1">
                        <div class="col-md-6">
                            <p class="small text-muted">Mô tả</p>
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Insert Group-->
        <div
                class="modal fade"
                id="exampleModalCenter"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form class="ui form segment">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">
                                Thêm mới nhóm nhân viên
                            </h5>
                            <button
                                    class="btn-close"
                                    type="button"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <label>Mã ID <span style="color: red">*</span></label>
                                </div>
                                <div class="col-sm-7 field description">
                                    <input placeholder="Nhập mã ID" name="id" type="text" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <label>Tên nhóm <span style="color: red">*</span></label>
                                </div>
                                <div class="col-sm-7 field description">
                                    <input
                                            placeholder="Nhập tên nhóm..."
                                            name="name"
                                            type="text"
                                    />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <label
                                    >Thành viên <span style="color: red">*</span></label
                                    >
                                </div>
                                <div class="col-sm-7 field description">
                                    <div class="ui multiple selection dropdown">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Chọn nhân viên</div>
                                        <select multiple="" id="multi-select" name="members">
                                            <option value="">Categories</option>
                                            <option value="a@giacatloi.com">
                                                Duy Anh (a@giacatloi.com)
                                            </option>
                                            <option value="b@giacatloi.com">
                                                Huu Tinh (b@giacatloi.com)
                                            </option>
                                            <option value="c@giacatloi.com">
                                                Duc Duy (c@giacatloi.com)
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <label>Ghi chú</label>
                                </div>
                                <div class="col-sm-7 field description">
                      <textarea
                              class="form-control"
                              name="description"
                              id="exampleFormControlTextarea1"
                              rows="3"
                      ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="ui blue submit button" type="button">
                                Lưu
                            </button>
                            <button
                                    class="ui reset button"
                                    type="button"
                                    data-bs-dismiss="modal"
                            >
                                Huỷ
                            </button>
                        </div>
                        <div class="ui error message"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/mainTH.js}"></script>
<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript" th:src="@{/js/datatables/datatables-simple-demo.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="https://semantic-ui.com/dist/components/form.js"></script>
<script src="https://semantic-ui.com/javascript/validate-form.js"></script>
<script src="https://semantic-ui.com/dist/components/popup.js"></script>
<script th:inline="javascript">
    const dataTable = new simpleDatatables.DataTable("#datatablesSimple", {
        fixedHeight: true,
        fixedColumns: true,
        labels: {
            noRows: "Không có nhóm nhân viên",
        },
    });
</script>
<script th:inline="javascript">
    $(".clickshowinfo").click(function () {
        var id = $(this).data("id");
        $(".user-info")
            .animate({ width: "20%", height: "100%" }, 150)
            .find(".user-info-in")
            .animate({ width: "100%" }, 170);
    });

    $(".user-info").click(function () {
        $(".cc").animate({ width: "0%" }, 150);
        $(".user-info").animate({ width: "0%" }, 150);
    });

    $(".card-body").click(function (e) {
        e.stopPropagation();
    });

    $("#multi-select").dropdown("get value");

    $(".ui.form").form({
        fields: {
            id: {
                identifier: "id",
                rules: [
                    {
                        type: "empty",
                        prompt: "Không bỏ trống Id.",
                    },
                ],
            },
            name: {
                identifier: "name",
                rules: [
                    {
                        type: "empty",
                        prompt: "Không bỏ trống tên nhóm.",
                    },
                ],
            },
            members: {
                identifier: "members",
                rules: [
                    {
                        type: "maxCount[5]",
                        prompt: "Tối đa 5 thành viên trong nhóm.",
                    },
                    {
                        type: "empty",
                        prompt: "Không bỏ trống thành viên",
                    },
                ],
            },
        },
    });

    $(".field.description").popup({
        popup: $(".description.popup"),
        on: "click",
    });
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var showtext = /*[[${flag}]]*/ "";
        console.log(showtext);
        if (showtext === 'showAlert') {
            swal.fire({
                position: "top-end",
                icon: "success",
                title: "Xoá thành công",
                showConfirmButton: false,
                timer: 3000,
            });
        }
    });
    /*]]>*/
</script>
</body>
</html>
