<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Thêm mới nhân viên</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
  <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
</head>
<body class="nav-fixed">
<th:block th:include="/common/nav-fixed.html"></th:block>
<div id="layoutSidenav">
  <th:block th:include="/common/layoutSidenav.html"></th:block>
  <div id="layoutSidenav_content">
    <main>
      <header class="
              page-header page-header-compact page-header-light
              border-bottom
              bg-white
              mb-4
            "
      >
        <div class="container-fluid px-4">
          <div class="page-header-content">
            <div
                    class="row align-items-center justify-content-between pt-3"
            >
              <div class="col-auto mb-3">
                <nav class="rounded" aria-label="breadcrumb">
                  <ol class="breadcrumb px-3 py-2 rounded mb-0">
                    <li class="breadcrumb-item">
                      <a class="text-primary" th:href="@{/employee/home}">Quản lý nhân sự</a>
                    </li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                  </ol>
                </nav>
              </div>
              <div class="col-12 col-xl-auto mb-3">
                <button class="btn btn-primary" form="create-form" type="submit">Thêm nhân viên</button>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Main page content-->
      <div class="container-xl px-4 mt-4">
        <div class="row">
          <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
              <div class="card-header">Ảnh đại diện</div>
              <div class="card-body text-center">
                <!-- Profile picture image-->
                <img
                        class="img-account-profile rounded-circle mb-2"
                        th:src="@{/assets/img/illustrations/profiles/profile-1.png}"
                        alt=""
                        id="profileImg"
                />
                <!-- Profile picture help block-->
                <div class="small font-italic text-muted mb-4">
                  JPG or PNG no larger than 5 MB
                </div>
                <!-- Profile picture upload button-->
                <input type="file" name="profile-img" form="create-form" id="avatarInput"
                       accept="image/*"/>
<!--                <button class="btn btn-primary" type="button">-->
<!--                  Tải hình ảnh lên-->
<!--                </button>-->
              </div>
            </div>
          </div>
          <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
              <div class="card-header">Thông tin nhân viên</div>
              <div class="card-body">
                <form id="create-form" class="ui form" method="POST" th:action="@{/employee/create}" th:object="${employeeForm}"
                      enctype="multipart/form-data">
                  <!-- Form Row-->
                  <div class="row gx-3 mb-2">
                    <!-- Form Group (first name)-->
                    <div class="col-md-6 field description">
                      <label class="small mb-1" for="input-username">
                        Tên đăng nhập
                        <span class="text-danger">*</span>
                      </label>
                      <input th:field="*{username}" pattern="[0-9A-Za-z]*"
                              class="form-control"
                              id="input-username"
                              type="text"
                              placeholder="Nhập tên đăng nhập"
                              name="userName"
                      />
                      <span th:if="${duplicateUsername}" th:text="${duplicateUsername}" style="color:red"></span>
                    </div>
                    <!-- Form Group (last name)-->
                    <div class="col-md-6 field description">
                      <label class="small mb-1">Mã số cá nhân  <span class="text-danger">*</span></label>
                      <input  th:field="*{employeeCode}" pattern="GCL[0-9]{4}"
                              class="form-control"
                              type="text"
                              placeholder="Nhập mã số"
                              name="code"
                      />
                    </div>
                  </div>
                  <!-- Form Row-->
                  <div class="row gx-3 mb-2">
                    <div class="col-md-6 field description">
                      <label class="small mb-1" >
                        Mật khẩu
                        <span style="color: red">*</span>
                      </label>
                      <input th:field="*{rawPassword}"
                              class="form-control"
                              id="inputPassword"
                              type="password"
                              placeholder="Nhập mật khẩu"
                              name="encrytedPassword"
                      />
                    </div>
                    <!-- Form Group (last name)-->
                    <div class="col-md-6">
                      <label class="small mb-1">Địa chỉ</label>
                      <input th:field="*{address}"
                              class="form-control"
                              id="inputAddress"
                              type="text"
                              placeholder="Nhập địa chỉ"
                      />
                    </div>
                  </div>
                  <div class="row gx-3 mb-2">
                    <div class="col-md-6 field description">
                      <label class="small mb-1">
                        Tên người dùng
                        <span class="text-danger">*</span>
                      </label>
                      <input th:field="*{name}"
                              class="form-control"
                              id="inputFullName"
                              type="text"
                              placeholder="Nhập tên người dùng"
                              name="name"
                      />
                    </div>
                    <div class="col-md-6 field description">
                      <label class="small mb-1">Điện thoại  <span class="text-danger">*</span></label>
                      <input th:field="*{phone}"
                              class="form-control"
                              id="inputPhone"
                              type="text"
                              placeholder="Nhập số điện thoại"
                              name="phone"
                      />
                      <!--Tạo error ở đây-->
                      <span th:if="${duplicatePhone}" th:text="${duplicatePhone}" style="color:red"></span>
                    </div>
                  </div>
                  <div class="row gx-3 mb-2">
                    <div class="col-md-6 field description">
                      <label class="small mb-1">Ngày sinh <span class="text-danger">*</span></label>
                      <input th:field="*{birthDate}"
                             class="form-control"
                             id="litepickerBirthdate"
                             placeholder="Chọn ngày sinh"
                             name="birthDate"
                      />
                    </div>
                    <div class="col-md-6 field description">
                      <label class="small mb-1" >Email <span class="text-danger">*</span></label>
                      <input th:field="*{email}" class="form-control"
                              type="email"
                              placeholder="Nhập Email"
                              name="companyEmail"
                      />
                      <!--Tạo error ở đây-->
                      <span th:if="${duplicateEmail}" th:text="${duplicateEmail}" style="color:red"></span>
                    </div>
                  </div>
                  <div class="row gx-3 mb-2">
                    <div class="col-md-6 field description">
                      <label class="small mb-1">Chức vụ <span class="text-danger">*</span></label>
                      <select class="form-select" id="selectPosition" th:field="*{positionId}">
                        <option value="">Lựa chọn</option>
                        <option th:each="position : ${positions}" th:text="${position.name}"
                                th:value="${position.id}" ></option>
                      </select>
                    </div>
                    <div class="col-md-6 field description">
                      <label class="small mb-1">Phòng ban <span class="text-danger">*</span></label>
                      <select th:field="*{departmentId}" class="form-select" id="selectDepartment" name="department">
                        <option value="">Lựa chọn</option>
                        <option th:each="department : ${departments}" th:text="${department.name}"
                                th:value="${department.id}"></option>
                      </select>
                    </div>
                  </div>
                  <div class="row gx-3 mb-2">
                    <!-- Form Group (phone number)-->
                    <div class="col-md-6 field description">
                      <label class="small mb-1" for="inputPhone">Ngày vào công ty <span class="text-danger">*</span></label>
                      <input class="form-control" th:field="*{startDate}"
                             id="litepickerDateEnteringCompany"
                             placeholder="Chọn ngày vào công ty"
                             name="startDate"
                      />
                    </div>
                    <!-- Form Group (birthday)-->
                    <div class="col-md-6 field description">
                      <label class="small mb-1">Ngày chính thức</label>
                      <input
                              class="form-control"
                              id="litepickerOfficeEntryDate"
                              placeholder="Chọn ngày chính thức"
                              name="EntryDate"
                      />
                    </div>
                  </div>
                  <div class="mb-3">
                    <label class="small mb-1">
                      Mô tả
                    </label>
                    <textarea class="form-control" th:field="*{note}"
                            id="exampleFormControlTextarea1"
                            rows="3"
                            placeholder="Nhập mô tả"></textarea>
                  </div>
                  <div class="ui error message"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <th:block th:include="/common/footer.html"></th:block>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>\
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="https://semantic-ui.com/dist/components/form.js"></script>
<script src="https://semantic-ui.com/javascript/validate-form.js"></script>
<script src="https://semantic-ui.com/dist/components/popup.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" th:src="@{/js/mainTH.js}"></script>
<script type="text/javascript" th:src="@{/js/sweetalert.js}"></script>
<script type="text/javascript" th:src="@{/js/litepicker.js}"></script>
<script type="text/javascript" th:src="@{/js/semantic/main.js}"></script>
<script th:inline = "javascript">
  avatarInput.onchange = evt => {
    let target = evt.target || evt.srcElement;
    if (target.value.length == 0){
      profileImg.src = "/assets/img/illustrations/profiles/profile-1.png";
    } else {
      const [file] = avatarInput.files;
      if (file){
        profileImg.src = URL.createObjectURL(file)
      }
    }
  }

  /*<![CDATA[*/
  var stompClient = null;
  var userName = /*[[${userName}]]*/ "";

  function connect() {
    var socket = new SockJS('/hello');
    stompClient = Stomp.over(socket);
    stompClient.connect({ username: userName, }, function() {
      console.log('Web Socket is connected');
      stompClient.subscribe('/users/queue/messages', function(message) {
        const Toast = Swal.mixin({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
          }
        })

        Toast.fire({
          icon: 'success',
          title: message.body,
        })
      });
    });
  }

  window.onload = connect;
  /*]]>*/

  //VALIDATION
  var DEPARTMENT_DROPDOWN = "#selectDepartment";
  var POSITION_DROPDOWN = "#selectPosition";
  $(POSITION_DROPDOWN).dropdown();
  $(DEPARTMENT_DROPDOWN).dropdown();

  $("#create-form").form({
    fields: {
      userName: {
        identifier: "userName",
        rules: [
          {
            type: "empty",
            prompt: "Không bỏ trống tên đăng nhập.",
          },
        ],
      },
      code: {
        identifier: "code",
        rules: [
          {
            type: "empty",
            prompt: "Không bỏ trống mã số cá nhân",
          },
        ],
      },
      encrytedPassword: {
        identifier: "encrytedPassword",
        rules: [
          {
            type: "empty",
            prompt: "Không bỏ trống mật khẩu",
          },
        ],
      },
      name: {
        identifier: "name",
        rules: [
          {
            type: "empty",
            prompt: "Không bỏ trống tên.",
          },
        ],
      },
      phone: {
        identifier: "phone",
        rules: [
          {
            type   : 'integer',
            prompt : 'Vui lòng nhập số điện thoại.'
          },
          {
            type   : 'empty',
            prompt : 'Không bỏ trống số điện thoại.'
          },
          {
            type   : 'minLength[10]',
            prompt : 'Vui lòng nhập số điện thoại ít nhất 10 ký tự.'
          },
        ]
      },
      birthDate: {
        identifier: "birthDate",
        rules: [
          {
            type   : 'empty',
            prompt : 'Vui lòng lựa chọn ngày sinh.'
          }
        ]
      },
      companyEmail: {
        identifier  : 'companyEmail',
        rules: [
          {
            type   : 'email',
            prompt : 'Vui lòng nhập email hợp lệ.'
          }
        ]
      },
      position: {
        identifier  : 'position',
        rules: [
          {
            type   : 'empty',
            prompt : 'Vui lòng lựa chọn chức vụ.'
          }
        ]
      },
      department: {
        identifier  : 'department',
        rules: [
          {
            type   : 'empty',
            prompt : 'Vui lòng lựa chọn phòng ban.'
          }
        ]
      },
      startDate: {
        identifier: "startDate",
        rules: [
          {
            type   : 'empty',
            prompt : 'Vui lòng lựa chọn ngày vào công ty.'
          }
        ]
      },
      EntryDate: {
        identifier: "EntryDate",
        rules: [
          {
            type   : 'empty',
            prompt : 'Vui lòng lựa chọn ngày chính thức.'
          }
        ]
      },
    },
  });
</script>
</body>
</html>
