<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Đầu mối - Gia Cát Lợi</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
  <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
</head>
<body class="nav-fixed">
<th:block th:include="/common/nav-fixed.html"></th:block>
<div id="layoutSidenav">
  <th:block th:include="/common/layoutSidenav.html"></th:block>
  <div id="layoutSidenav_content">
    <main>
      <header
              class="
              page-header page-header-dark
              bg-gradient-primary-to-secondary
              pb-10
            "
      >
        <div class="container-xl px-4">
          <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
              <div class="col-auto mt-4">
                <h1 class="page-header-title">
                  <div class="page-header-icon">
                    <i data-feather="filter"></i>
                  </div>
                  Cơ cấu công ty
                </h1>
                <div class="page-header-subtitle">
                  Cơ cấu công ty là nơi hiển thị chi tiết phòng ban, nhân
                  viên nào của công ty.
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Main page content-->
      <div class="container-xl px-4 mt-n10">
        <div class="card mb-4">
          <div class="card-header">Filter</div>
          <div class="card-body">
            <div class="mb-3">
<!--              <form id="go-update-form" th:action="@{/department/edit-v2}">-->
<!--                <label for="exampleFormControlSelect1" class="form-label">Phòng ban</label>-->
<!--                <select class="form-select form-control-solid" name="did"-->
<!--                        id="exampleFormControlSelect1">-->
<!--                  <option th:each="department : ${departments}" th:value="${department.id}"-->
<!--                          th:text="${department.name}"></option>-->
<!--                </select>-->
<!--              </form>-->
            </div>
          </div>
        </div>
        <div class="card mb-4 card-header-actions mx-auto">
          <div class="card-header">
            Hiển Thị Giao Dịch
            <div>

                <button
                        class="btn btn-outline-dark mx-1"
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModalXl"
                >
                  <i
                          class="fas fa-file-import"
                          style="padding-right: 2px"
                  ></i>
                  Nhập dữ liệu

              </div>
            </div>
          </div>
          <div class="card-body">
            <table id="datatablesSimple">
              <thead>
              <tr>
                <th>Tên giao dịch</th>
                <th>Người phụ trách</th>
                <th>Người liên hệ</th>
                <th>Loại giao dịch</th>
                <th>Thời gian thực hiện</th>
                <th>Trạng thái</th>
                <th>Mô tả</th>
                <th>Chi tiết</th>
                <th>Xóa</th>

              </tr>
              </thead>
              <tbody>
              <tr th:each="transaction : ${listTransactions}">
                <td th:text="${transaction.name}"></td>
                <td th:text="${transaction.manager}"></td>
                <td th:text="${transaction.contact}"></td>
                <td th:text="${transaction.transactionType}"></td>
                <td th:text="${transaction.requestDate}"></td>
                <td th:text="${transaction.status}"></td>
                <td th:text="${transaction.description}"></td>
                <td>

                  <a th:href="@{'/transaction/showUpdateTransactionForm/'+${transaction.transaction_id}}"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>

                </td>
                <td ><a th:href="@{'/transaction/deleteTransaction/'+${transaction.transaction_id}}"><i onclick="return confirm('Bạn có chắc muốn xóa')" class="fa fa-trash" aria-hidden="true"></i></a>
                </td>

              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <form th:action="@{/potential/import}" method="POST" enctype="multipart/form-data">
            <div class="modal-header">
              <h5 class="modal-title">Nhập dữ liệu từ file Excel</h5>
              <button
                      class="btn-close"
                      type="button"
                      data-bs-dismiss="modal"
                      aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="row gx-3 mb-2">
                <div class="col-md-4">
                  <label class="small">Chọn file Excel</label>
                </div>
                <div class="col-md-8">
                  <input accept=".xlsx, .xls" required
                         class="form-control form-control-sm"
                         type="file"
                         name="upload"
                         placeholder=""
                         style="border: 1px solid #aaa"
                  />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                      class="btn btn-primary"
                      type="submit">
                Tiếp tục
              </button>
            </div>
          </form>
        </div>
      </div>
1
    </main>
<!--    <th:block th:include="/common/footer.html"></th:block>-->
    <div
            class="modal fade"
            id="exampleModalXl"
            tabindex="-1"
            role="dialog"
            aria-labelledby="myExtraLargeModalLabel"
            style="display: none"
            aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <form th:action="@{/potential/import}" method="POST" enctype="multipart/form-data">
            <div class="modal-header">
              <h5 class="modal-title">Nhập dữ liệu từ file Excel</h5>
              <button
                      class="btn-close"
                      type="button"
                      data-bs-dismiss="modal"
                      aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="row gx-3 mb-2">
                <div class="col-md-4">
                  <label class="small">Chọn file Excel</label>
                </div>
                <div class="col-md-8">
                  <input accept=".xlsx, .xls" required
                         class="form-control form-control-sm"
                         type="file"
                         name="upload"
                         placeholder=""
                         style="border: 1px solid #aaa"
                  />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                      class="btn btn-primary"
                      type="submit">
                Tiếp tục
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
  <div class="user-info">
    <div
            class="user-info-in card card-header-actions mx-auto"
            style="padding-top: 55px"
    >
      <div class="card-header">
        Thêm mới
        <a href="#" class="cc">
          <i class="fas fa-times"></i>
        </a>
      </div>
<
    </div>
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script type="text/javascript" th:src="@{/js/mainTH.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables/datatables-custom.js}"></script>
<script type="text/javascript" th:src="@{/js/litepicker.js}"></script>
<script type="text/javascript" th:src="@{/js/semantic/main.js}"></script>
<script type="text/javascript" th:src="@{/js/listbox/main.js}"></script>
<script type="text/javascript" th:src="@{/js/modules/checkbox/main.js}"></script>
<script type="text/javascript" th:src="@{/js/potential.js}"></script>
</body>
</html>
