<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Quên mật khẩu</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container d-flex justify-content-center">
                <div class="row my-10">
                    <div class="col-xl-6">
                        <div class="text-center">
                            <img class="img-fluid" src="/assets/img/illustrations/forgot-password.svg" alt=""/>
                        </div>
                    </div>
                    <div class="col-xl-6 my-5">
                        <!-- Social registration form-->
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="h1 my-2 fw-light">Quên mật khẩu</div>
                            </div>
                            <hr class="my-0" />
                            <div class="card-body p-5">
                                <form method="POST" th:action="@{/forgot-password}">
                                    <div class="mb-3">
                                        <label class="text-gray-600 mb-3"
                                        >Email liên kết
                                            <span class="text-danger">*</span></label
                                        >
                                        <input name="email" th:value="${email}"
                                                class="form-control form-control-solid"
                                                type="text"
                                                placeholder="Email"
                                        />
                                        <span class="text-danger" th:if="${notFound}" th:text="${notFound}"></span>
                                        <span class="text-success" th:if="${message}" th:text="${message}"></span>
                                    </div>
                                    <label
                                            class="form-check-label mb-5 small"
                                    >
                                        <span class="text-danger">(*)</span>
                                        <strong>Quên mật khẩu ?</strong> Điền email liên kết với
                                        tài khoản của bạn. Chúng tôi sẽ gửi đến địa chỉ email đó
                                        một mật khẩu mới.
                                    </label>
                                    <button class="btn btn-primary" style="width: 100%">
                                        Lấy lại mật khẩu
                                    </button>
                                </form>
                            </div>
                            <hr class="my-0" />
                            <div class="card-body px-5 py-4">
                                <div class="small text-center">
                                    Quay lại trang
                                    <a th:href="@{/login}">Đăng nhập</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <th:block th:include="/common/footer.html"></th:block>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/mainTH.js}"></script>
</body>
</html>
