<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Báo cáo thống kê khách hàng tiềm năng - Gia Cát Lợi</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
  <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
</head>
<body class="nav-fixed">
<th:block th:include="/common/nav-fixed.html"></th:block>
<div id="layoutSidenav">
  <th:block th:include="/common/layoutSidenav.html"></th:block>
  <div id="layoutSidenav_content">
    <main>
      <header
              class="
              page-header page-header-compact page-header-light
              border-bottom
              bg-white
              mb-4
            "
      >
        <div class="container-fluid px-4">
          <div class="page-header-content">
            <div
                    class="row align-items-center justify-content-between pt-3"
            >
              <div class="col-auto mb-3">
                <nav class="rounded" aria-label="breadcrumb">
                  <ol class="breadcrumb px-3 py-2 rounded mb-0">
                    <li class="breadcrumb-item">
                      <a href="#"
                      >Thống kê khách hàng tiềm năng</a
                      >
                    </li>
                    <li class="breadcrumb-item active">Tất cả</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Main page content-->
      <div class="container-fluid px-4">
        <div class="card card-header-actions mx-auto mb-3">
          <div class="card-header">
            BIỂU ĐỒ BIẾN ĐỘNG ĐẦU MỐI
            <div>
              <a href="#" class="text-dark">
                <i class="fas fa-sync-alt"></i>
              </a>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="myAreaChart" width="100%" height="30"></canvas>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-4">
            <div class="card card-header-actions">
              <div class="card-header">
                ĐẦU MỐI MỚI
                <div>
                  <button href="#" class=" btn text-dark" id="reloadNewPotentials">
                    <i class="fas fa-sync-alt"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <table id="datatablesStatisticPotential">
                  <colgroup>
                    <col width="50%">
                    <col width="20%">
                    <col width="30%">
                  </colgroup>
                  <thead>
                  <tr>
                    <th>HỌ VÀ TÊN</th>
                    <th>RATING</th>
                    <th>EMAIL</th>
                  </tr>
                  </thead>
                  <tbody id="dataNewPotential">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card card-header-actions" style="height: 380px">
              <div class="card-header">
                THỐNG KÊ ĐẦU MỐI THEO TÌNH TRẠNG
                <a href="#" class="text-dark">
                  <i class="fas fa-sync-alt"></i>
                </a>
              </div>
              <div class="card-body">
                <div class="chart-bar">
                  <canvas
                          id="myBarChartCustom"
                          width="100%"
                          height="50"
                  ></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <th:block th:include="/common/footer.html"></th:block>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/assets/demo/chart-linear-scale-demo.js}"></script>
<script type="text/javascript" th:src="@{/assets/demo/chart-bar-demo-custom.js}"></script>
<script type="text/javascript" th:src="@{/js/mainTH.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>
<script href="/js/datatables/datatables-custom.js" th:src="@{/js/datatables/datatables-custom.js}"></script>
</body>
</html>
