<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Khách hàng - Gia Cát Lợi</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png"/>
    <script data-search-pseudo-elements defer
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"
            crossorigin="anonymous"></script>
</head>
<body class="nav-fixed">
<th:block th:include="/common/nav-fixed.html"></th:block>
<div id="layoutSidenav">
    <th:block th:include="/common/layoutSidenav.html"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <header
                    class="
              page-header page-header-dark
              bg-gradient-primary-to-secondary
              pb-10
            "
            >
                <div class="container-xl px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon">
                                        <i data-feather="layout"></i>
                                    </div>
                                    Thêm mới đầu mối
                                </h1>
                            </div>
                        </div>
                        <nav class="mt-4 rounded" aria-label="breadcrumb">
                            <ol class="breadcrumb px-3 py-2 rounded mb-0">
                                <li class="breadcrumb-item">
                                    <a href="dashboard-1.html">Trang chủ</a>
                                </li>
                                <li class="breadcrumb-item active">Thêm mới đầu mối</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </header>
            <!-- Main page content-->


            <div class="container-xl px-4 mt-n10">
                <div class="row">
                    <div class="col-lg-9">



                        <!-- Default Bootstrap Toasts-->
                        <form class="row g-3"
                              id="customerForm"
                              th:action="@{/customer/updateCustomer}"

                              th:object="${customer}"
                              method="post"
                        >
                            <input type="hidden" th:field="${customer.customerId}" name="customerID">
                            <input type="hidden" th:field="${customer.customerCode}"  >
                            <div id="customerInformation">
                                <div class="card mb-4">
                                    <div class="card-header">ThÔNG TIN ĐẦU MỐI</div>
                                    <div class="card-body">
                                        <div class="row gx-3 mb-3">
                                            <div class="col-md-6">
                                                <label class="small mb-1">
                                                    Tên
                                                    <span style="color: red">*</span>
                                                </label>
                                                <input type="text" class="form-control"
                                                       id="customerName"
                                                       placeholder="Tên khách hàng"
                                                       th:field="${customer.customerName}"
                                                />
                                            </div>
                                            <div class="col-md-6">
                                                <label class="small mb-1" for="genderCmb">Giới tính</label>
                                                <select  name="gender" th:field="${customer.gender}" id="genderCmb" class="form-control">
                                                    <option value="0">Nam</option>
                                                    <option value="1">Nữ</option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="row gx-3 mb-3">
                                            <div class="col-md-6">
                                                <label for="" class="small mb-1">
                                                    Điện thoại
                                                </label>
                                                <!-- Joined input group prepend example-->
                                                <div class="input-group input-group-joined">
                              <span class="input-group-text">
                                <i data-feather="phone"></i>
                              </span>
                                                    <input type="text" class="form-control ps-0"
                                                           id="phoneNumber"
                                                           min="0" maxlength="10" pattern="\d*"
                                                           th:field="${customer.phoneNumber}"
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="small mb-1" for="customerStatusCmb"> Tình trạng </label>
                                                <select th:field="${customer.status}" id="customerStatusCmb" class="form-select">
                                                    <option value="1">Active</option>
                                                    <option value="0">Inactive</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="row gx-3 mb-3">
                                            <div class="col-md-6">
                                                <label for="" class="small mb-1"> Email </label>
                                                <!-- Joined input group prepend example-->
                                                <div class="input-group input-group-joined">
                              <span class="input-group-text">
                                <i data-feather="mail"></i>
                              </span>
                                                    <input
                                                            class="form-control ps-0"
                                                            type="text"
                                                            aria-label="Search"
                                                            th:field="${customer.email}"
                                                    />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="mb-3">
                                            <label class="small mb-1" for="customerDescription"
                                            >Mô tả <!--<span style="color: red">*</span> --></label
                                            >
                                            <textarea
                                                    class="form-control"
                                                    id="customerDescription"
                                                    rows="3"
                                                    placeholder="Nhập mô tả"
                                                    th:field="${customer.description}"
                                            ></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div id="identity">
                                <div class="card mb-4">
                                    <div class="card-header">ThÔNG TIN CĂN CƯỚC CÔNG DÂN</div>
                                    <div class="card-body">
                                        <div class="row gx-3 mb-3">
                                            <div class="col-md-6">
                                                <label class="small mb-1">
                                                    Mã căn cước
                                                    <span style="color: red">*</span>
                                                </label>
                                                <input th:field="${customer.identification.identityNumber}" text="text" class="form-control" id=""/>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="small mb-1">
                                                    Ngày sinh

                                                    <span style="color: red">*</span>
                                                </label>
                                                <div class="input-group input-group-joined">
                              <span class="input-group-text">
                                <i data-feather="calendar"></i>
                              </span>
                                                    <input
                                                            th:value="${customer.identification.birthDate}"
                                                            class="form-control ps-0"
                                                            name="dateOfBirth"
                                                            id="dateOfBirth"
                                                            placeholder="Chọn ngày sinh..."
                                                    />
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row gx-3 mb-3">
                                            <div class="col-md-6 form-validate">
                                                <label class="small mb-1"> Mặt trước
                                                    <span style="color: red">*</span>
                                                </label>
                                                <div id="imageBefore">
                                                    <div class="wrapper">
                                                        <div class="image">
                                                            <img    th:src="@{/{path}(path=${customer.identification.frontImageUrl})}"
                                                                    alt="">
                                                        </div>
                                                        <div class="content">
                                                            <div class="icon">
                                                                <i class="fas fa-cloud-upload-alt"></i>
                                                            </div>
                                                            <div class="text">
                                                                Chưa có hình ảnh
                                                            </div>
                                                        </div>
                                                        <div id="cancel-btn">
                                                            <i class="fas fa-times"></i>
                                                        </div>
                                                        <div class="file-name">
                                                            Tên ảnh
                                                        </div>
                                                    </div>
                                                    <button  type="button" th:onclick="defaultBtnActive()" id="custom-btn">Chọn 1 ảnh</button>
                                                    <input id="idImageBefore" name="imageBefore" type="file"  hidden>
                                                </div>
                                            </div>
                                            <div class="col-md-6 form-validate">
                                                <label class="small mb-1"> Mặt sau
                                                    <span style="color: red">*</span>
                                                </label>
                                                <div id="imageAfter">
                                                    <div class="wrapper1">
                                                        <div class="image1">
                                                            <img    th:src="@{/{path}(path=${customer.identification.backImageUrl})}"
                                                                    alt="">
                                                        </div>
                                                        <div class="content">
                                                            <div class="icon">
                                                                <i class="fas fa-cloud-upload-alt"></i>
                                                            </div>
                                                            <div class="text1">
                                                                Chưa có hình ảnh
                                                            </div>
                                                        </div>
                                                        <div id="cancel-btn1">
                                                            <i class="fas fa-times"></i>
                                                        </div>
                                                        <div class="file-name1">
                                                            Tên ảnh
                                                        </div>
                                                    </div>
                                                    <button type="button" th:onclick="defaultBtnActiveAfter()" id="custom-btn1">Chọn 1 ảnh</button>
                                                    <input id="idImageAfter"  name="imageAfter" type="file"  hidden>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>-->

                            <div id="bankingInformation">
                                <div class="card mb-4">
                                    <div class="card-header">ThÔNG TIN TÀI KHOẢN NGÂN HÀNG</div>
                                    <th:block th:each="account: ${bankAccountList}">
                                        <div class="card-body">

                                            <!-- Form Row-->
                                            <div class="row gx-3 mb-3">
                                                <!-- Form Group (first name)-->
                                                <!-- Form Group (last name)-->
                                                <div class="col-md-6 form-validate">
                                                    <label class="small mb-1" for="bankNumber"
                                                    >Số tài khoản
                                                        <span style="color: red">*</span></label
                                                    >
                                                    <input type="text" class="form-control"
                                                           id="bankName"
                                                           name="bankName"
                                                           th:value="${account.bankName}"/>
                                                    <i class="fas fa-check-circle "></i>
                                                    <i class="fas fa-exclamation-circle"></i>
                                                </div>
                                                <div class="col-md-6 form-validate">
                                                    <label class="small mb-1" for="bankNumber"
                                                    >Số tài khoản
                                                        <span style="color: red">*</span></label
                                                    >
                                                    <input   class="form-control" type="text" name="bankNumber" id="bankNumber"
                                                           th:value="${account.id}"/>
                                                    <i class="fas fa-check-circle "></i>
                                                    <i class="fas fa-exclamation-circle"></i>
                                                </div>


                                            </div>
                                        </div>

                                    </th:block>
                                </div>

                            </div>

                        </form>
                    </div>
                    <!-- Sticky Navigation-->
                    <div class="col-lg-3">
                        <div class="nav-sticky">
                            <div class="card">
                                <div class="card-body">
                                    <ul class="nav flex-column" id="stickyNav">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#tradingAccountInfo"
                                            >Tài khoản giao dịch</a
                                            >
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#customerInformation">Đầu mối</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="#identity"
                                            >Căn cước công dân</a
                                            >
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#bankingInformation"
                                            >Tài khoản ngân hàng</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                    <div class="position-sticky fixed-bottom">
                                        <div class="col-md-9">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-center">
                                                        <button class="btn btn-primary" type="button" style="margin-right: 10px">
                                                            Lưu
                                                        </button>
                                                        <button class="btn btn-primary" id="updateCustomer" type="button" style="margin-right: 10px">
                                                            Cập nhật
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center"></div>
                                    </div>
            </div>
            <!-- Hidden field -->

            <input type="hidden"
                   id="hdnEmployeeId"

            />
            <input type="hidden"
                   id="hdnSourceId"

            />
            <input type="hidden" class="form-control"
                   id="customerStatus"

            />

        </main>
        <th:block th:include="/common/footer.html"></th:block>
    </div>
</div>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/mainTH.js}"></script>
<script type="text/javascript" th:src="@{/js/customer.js}"></script>
<script th:inline="javascript">
    const picker = new Litepicker({
        element: document.getElementById("dateOfBirth"),
        autoRefresh: true,
    });
    const picker2 = new Litepicker({
        element: document.getElementById("dateOfIssue"),
        autoRefresh: true,
    });
    const picker3 = new Litepicker({
        element: document.getElementById("date2"),
        autoRefresh: true,
    });
</script>

</body>
</html>
