<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Tài khoản giao dịch - Gia Cát Lợi</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
<style>
    .fa-check-circle{
        color: springgreen;
    }
    .fa-trash{
        color: orangered;
    }
    .fa-unlock{
        color : yellow;
    }
</style>
</head>

<body class="nav-fixed">
<th:block th:include="/common/nav-fixed.html"></th:block>
<div id="layoutSidenav">
    <th:block th:include="/common/layoutSidenav.html"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <header class="
              page-header page-header-compact page-header-light
              border-bottom
              bg-white
              mb-4
            "
            >
                <div class="container-fluid px-4">
                    <div class="page-header-content">
                        <div
                                class="row align-items-center justify-content-between pt-3"
                        >
                            <div class="col-auto mb-3">
                                <nav class="rounded" aria-label="breadcrumb">
                                    <ol class="breadcrumb px-3 py-2 rounded mb-0">
                                        <li class="breadcrumb-item">
                                            <a href="#">Tài khoản</a>
                                        </li>
                                        <li class="breadcrumb-item active">Tất cả</li>
                                    </ol>
                                </nav>
                            </div>

                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-fluid px-4">
                <div style="height: 100%; position: relative">
                    <div class="row">
                        <div class="col-lg-3 mb-4">
                            <!-- Report summary card example-->
                            <div class="card card-header-actions mb-4">
                                <div class="card-header">
                                    TRA CỨU
                                </div>
                                <div class="card-body">

                                    <form th:action="@{/customer/searchAllAccount}" th:object="${customerForm}">
                                        <div class="mb-3">
                                            <label class="text-sm">Mã tài khoản</label>
                                            <input
                                                    th:field="*{accountNumber}"
                                                    class="form-control" type="text" placeholder="Nhập mã tài khoản"/>
                                        </div>
                                        <div class="mb-3">
                                            <label class="text-sm">Tên khách hàng</label>
                                            <input
                                                    th:field="*{customerName}"
                                                    class="form-control" type="text" placeholder="Nhập tên tài khoản"/>
                                        </div>
                                        <div class="mb-3">
                                            <label class="text-sm">Số điện thoại</label>
                                            <input
                                                    th:field="*{phone}"
                                                    class="form-control" type="text" placeholder="Số điện thoại"/>
                                        </div>
                                        <div class="mb-3">
                                            <label class="text-sm">Trạng thái</label>
                                            <select
                                                    th:field="*{status}"
                                                    class="form-select" id="selectTransaction">
                                                <option selected value="All" >Tất cả</option>
                                                <option value="Active">Đã kích hoạt</option>
                                                <option value="Inactive">Chưa kích hoạt</option>
                                                <option value="Stop">Dừng giao dịch</option>
                                                <option value="Block">Khóa</option>

                                            </select>
                                        </div>


                                        <div class="d-flex align-center">
                                            <button type="submit"
                                                    class="btn btn-primary"
                                                    style="margin-right: 10px">
                                                Tìm kiếm
                                            </button>
                                            <button type="reset" class="btn btn-outline-dark">Mặc định</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 mb-4">
                            <!-- Area chart example-->
                            <div class="card card-scrollable mb-4">
                                <div class="card-body" style="max-height: 45em;">
                                    <form id="devel-generate-content-form">
                                        <div class="d-flex justify-content-center mb-2">
                                            <div class="info text-center">
                                                <span>Đang xem tất cả các tài khoản giao dịch</span>
                                                <div class="flex-row">


                                                </div>
                                            </div>
                                            <i class="fas fa-redo-alt" style="color: white"></i>
                                        </div>
                                        <table id="datatablesAllTradingAccount">
                                            <thead>
                                            <tr>
                                                <th>Tài khoản giao dịch </th>
                                                <th>Tên khách hàng</th>
                                                <th>Số điện thoại</th>
                                                <th>Người mô giới</th>
                                                <th>Trạng thái</th>
                                                <th>Cập nhật</th>




                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="customer : ${listCustomers}">
                                                <td th:text="${customer.tradingAccount.accountNumber}"></td>
                                                <td th:text="${customer.customerName}"></td>
                                                <td th:text="${customer.phoneNumber}"></td>
                                                <td th:text="${customer.tradingAccount.brokerName}"></td>
                                                <th:block th:switch="${customer.tradingAccount.status}">
                                                    <th:block th:case="'Inactive'">
                                                        <td>
                                                            <a th:href="@{'/customer/activeAccount/'+${customer.customerId}}"><i  onclick="return confirm('Sau khi kích hoạt tài khoản sẽ có thể ký quỹ')" class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp;Kích Hoạt</a>

                                                        </td>
                                                    </th:block>
                                                    <th:block th:case="'Active'">
                                                        <td>
                                                            <i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;
                                                            Đã kích hoạt
                                                        </td>


                                                    </th:block>
                                                    <th:block th:case="'Block'">
                                                        <td>
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                            Khóa
                                                        </td>


                                                    </th:block>
                                                    <th:block th:case="'Stop'">
                                                        <td>
                                                            <i class="fa fa-unlock" aria-hidden="true"></i>
                                                            Dừng giao dịch
                                                        </td>


                                                    </th:block>
                                                </th:block>
                                                <td>
                                                    <a th:href="@{'/customer/showUpdateAccountForm/'+${customer.customerId}}"><i data-feather="edit"></i>&nbsp;Cập nhật</a>

                                                </td>








                                            </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <th:block th:include="/common/footer.html"></th:block>

        <!-- Modal Import -->
        <div
                class="modal fade"
                id="exampleModalXl"
                tabindex="-1"
                role="dialog"
                aria-labelledby="myExtraLargeModalLabel"
                style="display: none"
                aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form th:action="@{/deal/import}" method="POST" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h5 class="modal-title">Nhập dữ liệu từ file Excel</h5>
                            <button
                                    class="btn-close"
                                    type="button"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <div class="row gx-3 mb-2">
                                <div class="col-md-4">
                                    <label class="small">Chọn file Excel</label>
                                </div>
                                <div class="col-md-8">
                                    <input accept=".xlsx, .xls" required
                                           class="form-control form-control-sm"
                                           type="file"
                                           name="upload"
                                           placeholder=""
                                           style="border: 1px solid #aaa"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button
                                    class="btn btn-primary"
                                    type="submit">
                                Tiếp tục
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" th:src="@{/js/mainTH.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables/datatables-custom.js}"></script>
<script type="text/javascript" th:src="@{/js/semantic/main.js}"></script>
<script type="text/javascript" th:src="@{/js/litepicker.js}"></script>
<script th:inline="javascript">
    //Count Checkbox
    $(document).ready(function() {
        var $checkboxes = $('#devel-generate-content-form td .d-flex input[type="checkbox"]');
        var rowCount = $('#datatablesDeal tr').length - 1;
        $('#count-all-table').text(rowCount);

        $checkboxes.change(function() {
            var countCheckedCheckboxes = $checkboxes.filter(':checked').length;
            $('#count-checked-checkboxes').text(countCheckedCheckboxes);
        })
    });

    //Select all checkbox with button
    var clicked = false;
    $("#selectAll").on("click", function () {
        $('#datatablesDeal tr td input[type="checkbox"]').prop("checked", !clicked);
        clicked = !clicked;
    });
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var stompClient = null;
    var userName = /*[[${userName}]]*/ "";

    function connect() {
        var socket = new SockJS('/hello');
        stompClient = Stomp.over(socket);
        stompClient.connect({ username: userName, }, function() {
            console.log('Web Socket is connected');
            stompClient.subscribe('/users/queue/messages', function(message) {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: message.body,
                })
            });
        });
    }

    window.onload = connect;
    /*]]>*/
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var showtext = /*[[${flag}]]*/ "";
        console.log(showtext);
        if (showtext === 'showAlert') {
            swal.fire({
                position: "top-end",
                icon: "success",
                title: " Cập nhật thành công",
                showConfirmButton: false,
                timer: 5000,
            });
        }
    });
    /*]]>*/
</script>

</body>
</html>
