<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Báo cáo tình trạng khách hàng</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png"/>
</head>
<body class="nav-fixed">
<th:block th:include="/common/nav-fixed.html"></th:block>
<div id="layoutSidenav">
    <th:block th:include="/common/layoutSidenav.html"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <header
                    class="
              page-header page-header-dark
              bg-gradient-primary-to-secondary
              pb-10
            "
            >
                <div class="container-xl px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon">
                                        <i data-feather="filter"></i>
                                    </div>
                                    Báo cáo tình trạng khách hàng
                                </h1>
                                <div class="page-header-subtitle">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4 mt-n10">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="form-group col-md-3">
                                <label for="fromDate">Từ ngày</label>
                                <input id="fromDate" name="fromDate" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-3">
                                <label for="toDate">Đến ngày</label>
                                <input id="toDate" name="toDate" type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-primary" id="searchDate">Tìm kiếm</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4 customerStatusReportArea" style="display: none">
                    <div class="card-header">
                        Tình trạng khách hàng
                    </div>
                    <div class="card-body">

                        <table id="customerStatusReportTable"
                               class="table row-border cell-border hover order-column"
                               cellspacing="0"
                               style="width: 100%"
                        >
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Phụ trách</th>
                                <th>Level 1</th>
                                <th>Level 2</th>
                                <th>Level 3</th>
                                <th>Level 4</th>
                                <th>Level 5</th>
                                <th>Level 6</th>
                                <th>Level 7</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="card customerStatusReportArea" style="display: none">
                    <div class="card-header">
                        Báo cáo đánh giá tình trạng khách hàng
                    </div>
                    <div class="card-body">
                        <table id="customerStatusEvaluationTable"
                               class="table row-border cell-border hover order-column"
                               cellspacing="0"
                               style="width: 100%"
                        >
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Phụ trách</th>
                                <th>Số lượng mở tài khoản</th>
                                <th>Số lượng nạp tiền</th>
                                <th>Số lot</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <div id="overlay">
            <div class="cv-spinner">
                <span class="spinner"></span>
            </div>
        </div>
        <th:block th:include="/common/footer.html"></th:block>
    </div>
</div>

<!-- Bootstrap script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<!-- Bootstrap script -->

<!-- Jquery script -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- Jquery script -->

<script type="text/javascript" th:src="@{/js/mainTH.js}"></script>

<script src="https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.js"></script>
<script type="text/javascript" th:src="@{/js/customerStatusReport.js}"></script>
<script data-search-pseudo-elements defer
        src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"
        crossorigin="anonymous"></script>
</body>
</html>
