<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Chăm sóc khách hàng tiềm năng - Gia Cat Loi</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
  <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
</head>
<body class="nav-fixed">
<th:block th:include="/common/nav-fixed.html"></th:block>
<div id="layoutSidenav">
  <th:block th:include="/common/layoutSidenav.html"></th:block>
  <div id="layoutSidenav_content">
    <main>
      <header
              class="
              page-header page-header-compact page-header-light
              border-bottom
              bg-white
              mb-4
            "
      >
        <div class="container-fluid px-4">
          <div class="page-header-content">
            <div
                    class="row align-items-center justify-content-between pt-3"
            >
              <div class="col-auto mb-3">
                <nav class="rounded" aria-label="breadcrumb">
                  <ol class="breadcrumb px-3 py-2 rounded mb-0">
                    <li class="breadcrumb-item">
                      <a th:href="@{/salesman/potential/home}">Đầu mối</a>
                    </li>
                    <li class="breadcrumb-item active" th:text="${potentialDetail.name}"></li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="container-fluid px-4">
        <th:block th:include="/potential/sale/common/potential-card-header-hungNT.html"></th:block>

        <nav class="nav nav-borders">
          <a class="nav-link" th:href="@{/potential/detail/sale/{id}(id=${potentialDetail.id})}">Chi tiết</a>
          <a class="nav-link active ms-0" th:href="@{/potential/detail/takecare/{id}(id=${potentialDetail.id})}">
            Chăm sóc khách hàng
            <span th:if="${potentialDetail.cares.size() > 0}" th:text="${potentialDetail.cares.size()}"
                  class="badge bg-hung-custom text-white-75 ms-auto"></span>
          </a>
          <a class="nav-link" th:href="@{/potential/detail/diary/sale/{id}(id=${potentialDetail.id})}">
            <i class="fas fa-calendar-alt"></i>
            Nhật ký
          </a>
        </nav>
        <hr class="mt-0 mb-4" />
        <div class="card mb-4 mb-xl-0">
          <div class="card-header">CHĂM SÓC KHÁCH HÀNG</div>
          <div class="card-body">
            <form th:if="${potentialDetail.cares.size() < 3}" th:action="@{/potential/detail/take-care/{id}(id=${potentialDetail.id})}"
                  method="POST" id="form-tk">
              <input type="hidden" name="index" th:value="${potentialDetail.cares.size() + 1}" />
              <input type="hidden" id="name" value="duy" placeholder="User will receive the message...">
            </form>
            <table id="datatablesManageTakeCareOfPotential">
              <colgroup>
                <col width="2%" />
                <col width="12%" />
                <col width="61%" />
                <col width="10%" />
                <col width="15%" />
              </colgroup>
              <thead>
              <tr>
                <th></th>
                <th>Tiêu đề</th>
                <th>Nội dung</th>
                <th>Trạng thái</th>
                <th>Ngày sửa</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <button class="btn btn-transparent-dark"
                          form="form-tk"
                          th:disabled="${potentialDetail.cares.size() != 0}"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="Gửi"
                          type="submit"
                          id="send1"
                  >
                    <i data-feather="send"></i>
                  </button>
                </td>
                <td>CHĂM KHÁCH LẦN 1</td>
                <td class="asset_value">
                  <textarea th:disabled="${potentialDetail.cares.size() != 0}" name="description"
                            th:text="${potentialDetail.cares.size() > 0 ? potentialDetail.cares.get(0).description : ''}"
                            class="form-control" rows="3" form="form-tk" required></textarea>
                </td>
                <td>
                  <div th:if="${potentialDetail.cares.size() > 0}">
                    <span th:if="${potentialDetail.cares.get(0).isAccepted()}"
                          class="badge badge-md bg-success text-white ms-auto">Đã xem</span>
                    <span th:if="${!potentialDetail.cares.get(0).isAccepted()}"
                          class="badge badge-md bg-orange text-white ms-auto">Đã gửi</span>
                  </div>
                </td>
                <td th:text="${potentialDetail.cares.size() > 0 ? potentialDetail.cares.get(0).lastModified : ''}"></td>
              </tr>
              <tr>
                <td>
                  <button class="btn btn-transparent-dark"
                          form="form-tk"
                          th:disabled="${potentialDetail.cares.size() != 1}"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="Gửi"
                          type="submit"
                          id="send2"
                  >
                    <i data-feather="send"></i>
                  </button>
                </td>
                <td>CHĂM KHÁCH LẦN 2</td>
                <td class="asset_value">
                  <textarea th:disabled="${potentialDetail.cares.size() != 1}" name="description"
                            th:text="${potentialDetail.cares.size() > 1 ? potentialDetail.cares.get(1).description : ''}"
                            class="form-control" rows="3" form="form-tk" required></textarea>
                </td>
                <td>
                  <div th:if="${potentialDetail.cares.size() > 1}">
                    <span th:if="${potentialDetail.cares.get(1).isAccepted()}"
                          class="badge badge-md bg-success text-white ms-auto">Đã xem</span>
                    <span th:if="${!potentialDetail.cares.get(1).isAccepted()}"
                          class="badge badge-md bg-orange text-white ms-auto">Đã gửi</span>
                  </div>
                </td>
                <td th:text="${potentialDetail.cares.size() > 1 ? potentialDetail.cares.get(1).lastModified : ''}"></td>
              </tr>
              <tr>
                <td>
                  <button class="btn btn-transparent-dark"
                          th:disabled="${potentialDetail.cares.size() != 2}"
                          form="form-tk"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="Gửi"
                          type="submit"
                          id="send3"
                  >
                    <i data-feather="send"></i>
                  </button>
                </td>
                <td>CHĂM KHÁCH LẦN 3</td>
                <td class="asset_value">
                  <textarea th:disabled="${potentialDetail.cares.size() != 2}" name="description"
                            th:text="${potentialDetail.cares.size() > 2 ? potentialDetail.cares.get(2).description : ''}"
                            class="form-control" rows="3" form="form-tk" required></textarea>
                </td>
                <td>
                  <div th:if="${potentialDetail.cares.size() > 2}">
                    <span th:if="${potentialDetail.cares.get(2).isAccepted()}"
                          class="badge badge-md bg-success text-white ms-auto">Đã xem</span>
                    <span th:if="${!potentialDetail.cares.get(2).isAccepted()}"
                          class="badge badge-md bg-orange text-white ms-auto">Đã gửi</span>
                  </div>
                </td>
                <td th:text="${potentialDetail.cares.size() > 2 ? potentialDetail.cares.get(2).lastModified : ''}"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
    <th:block th:include="/common/footer.html"></th:block>
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.8.3.js" integrity="sha256-dW19+sSjW7V1Q/Z3KD1saC6NcE5TUIhLJzJbrdKzxKc=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" th:src="@{/js/datatables/datatables-custom.js}"></script>
<script type="text/javascript" th:src="@{/js/mainTH.js}"></script>
<script th:inline="javascript">
  $(document).ready(function() {
    $('a.edit').click(function() {
      var dad = $(this).parent().parent();
      dad.find('#label-name').hide();
      dad.find('#selectLevel').show().focus();
    });

    $('#selectLevel').focusout(function() {
      var dad = $(this).parent();
      $(this).hide();
      dad.find('#label-name').show().focus();
    });
  });

  /*<![CDATA[*/
  $(document).ready(function() {
    var showtext = /*[[${flag}]]*/ "";
    console.log(showtext);
    if (showtext === 'showAlert') {
      swal.fire({
        position: "top-end",
        icon: "success",
        title: "Gửi thành công",
        showConfirmButton: false,
        timer: 5000,
      });
    } else if (showtext === 'showAlertUpdateLevelSuccessful') {
      swal.fire({
        position: "top-end",
        icon: "success",
        title: "Cập nhật thành công",
        showConfirmButton: false,
        timer: 5000,
      });
    }
  });

  var stompClient = null;
  var userName = /*[[${userName}]]*/ "";

  function connect() {
    var socket = new SockJS('/hello');
    stompClient = Stomp.over(socket);
    stompClient.connect({ username: userName, }, function() {
      console.log('Web Socket is connected');
      stompClient.subscribe('/users/queue/messages', function(message) {
        const Toast = Swal.mixin({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
          }
        })

        Toast.fire({
          icon: 'info',
          title: message.body,
        })
      });
    });
  }

  window.onload = connect;

  $(function() {
    $("#send1").click(function() {
      stompClient.send("/app/hello", {}, $("#name").val());
    });
    $("#send2").click(function() {
      stompClient.send("/app/hello", {}, $("#name").val());
    });
    $("#send3").click(function() {
      stompClient.send("/app/hello", {}, $("#name").val());
    });
  });

  /*]]>*/
</script>
</body>
</html>