    <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Khách hàng - Gia Cát Lợi</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png"/>
    <script data-search-pseudo-elements defer
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"
            crossorigin="anonymous"></script>
    <style>
        form .button{
            height: 45px;
            margin: 35px 0
        }
        form .button input{
            height: 100%;
            width: 100%;
            border-radius: 5px;
            border: none;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 1px;
            cursor: pointer;
            transition: all 0.3s ease;
            background: linear-gradient(135deg, #0e4db5,#0e4db5);
        }
        form .button input:hover{
            /* transform: scale(0.99); */
            background: linear-gradient(-135deg, #fff3e0,#0e4db5);
        }
        form .button button{
            height: 100%;
            width: 100%;
            border-radius: 5px;
            border: none;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 1px;
            cursor: pointer;
            transition: all 0.3s ease;
            background: linear-gradient(135deg, red,red);
        }
        form .button button:hover{
            /* transform: scale(0.99); */
            background: linear-gradient(-135deg, #fff3e0,red);
        }
    </style>

</head>
<body class="nav-fixed">
<th:block th:include="/common/nav-fixed.html"></th:block>
<div id="layoutSidenav">
    <th:block th:include="/common/layoutSidenav.html"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <header
                    class="
              page-header page-header-dark
              bg-gradient-primary-to-secondary
              pb-10
            "
            >
                <div class="container-xl px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon">
                                        <i data-feather="layout"></i>
                                    </div>
                                    Tạo mới tài khoản
                                </h1>
                            </div>
                        </div>
                        <nav class="mt-4 rounded" aria-label="breadcrumb">
                            <ol class="breadcrumb px-3 py-2 rounded mb-0">
                                <li class="breadcrumb-item">
                                    <a th:href="@{'/contract/manageCustomer'}">Quay lại</a>
                                </li>
                                <li class="breadcrumb-item active">Tài khoản giao dịch</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </header>
            <!-- Main page content-->


                <div class="container-xl px-4 mt-n10">
                    <div class="row">
                        <div class="col-lg-9">
                            <form class="row g-3"
                                  id="form"
                                  th:action="@{/contract/createAccount}"
                                  th:object="${tradingAccount}"

                                  method="post"
                            >
    <input type="hidden" th:field="${tradingAccount.customerID}">
                                <div id="tradingAccountInfo">
                                <div class="card mb-4">
                                    <div class="card-header">Mở tài khoản giao dịch</div>
                                    <div class="card-body">
                                        <div class="row gx-3 mb-3">
                                            <div class="col-md-6">
                                                <label for="" class="small mb-1">
                                                    Tên tài khoản giao dịch
                                                </label>

                                                <input type="text" class="form-control"

                                                       readonly
                                                       th:field="${customer.customerName}"

                                                />
                                            </div>
                                            <div class="col-md-6">
                                                <label for="tradingCode" class="small mb-1">
                                                    Mã tài khoản giao dịch
                                                    <span style="color: red">*</span>
                                                </label>
                                                <input type="text" class="form-control"
                                                       id="tradingCode"
                                                       placeholder="Mã tài khoản giao dịch"

                                                       th:field="${tradingAccount.accountNumber}"

                                                />
                                            </div>

                                        </div>

                                        <div class="row gx-3 mb-3">

                                            <div class="col-md-6">
                                                <label for="" class="small mb-1">
                                                    Trạng thái
                                                </label>
                                                <!-- Joined input group prepend example-->
                                                <select
                                                        th:field="${tradingAccount.status}"

                                                        class="form-select"
                                                        id="exampleFormControlSelect1"
                                                >
                                                    <option value="Inactive">Inactive</option>

                                                    <option value="Active">Active</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="row gx-3 mb-3">


                                                <div class="button">
                                                    <input type="submit" value="Tạo tài khoản giao dịch">
                                                </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            </form>
                            <!-- Default Bootstrap Toasts-->
                            <form class="row g-3"
                                  id="customerForm"

                                  th:object="${customer}"
                                  method="post"
                            >
                                <input type="hidden" th:field="${customer.customerCode}"  >
                            <div id="customerInformation">
                                <div class="card mb-4">
                                    <div class="card-header">ThÔNG TIN ĐẦU MỐI</div>
                                    <div class="card-body">
                                        <div class="row gx-3 mb-3">
                                            <div class="col-md-6">
                                                <label class="small mb-1">
                                                    Tên
                                                    <span style="color: red">*</span>
                                                </label>
                                                <input readonly type="text" class="form-control"
                                                       id="customerName"
                                                       placeholder="Tên khách hàng"
                                                       th:field="${customer.customerName}"
                                                />
                                            </div>
                                            <div class="col-md-6">
                                                <label class="small mb-1" for="genderCmb">Giới tính</label>
                                                <select  readonly th:field="${customer.gender}" id="genderCmb" class="form-control">
                                                    <option value="0">Nam</option>
                                                    <option value="1">Nữ</option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="row gx-3 mb-3">
                                            <div class="col-md-6">
                                                <label for="" class="small mb-1">
                                                    Điện thoại
                                                </label>
                                                <!-- Joined input group prepend example-->
                                                <div class="input-group input-group-joined">
                              <span class="input-group-text">
                                <i data-feather="phone"></i>
                              </span>
                                                    <input readonly type="text" class="form-control ="
                                                           id="phoneNumber"
                                                           min="0" maxlength="10" pattern="\d*"
                                                           th:field="${customer.phoneNumber}"
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="" class="small mb-1"> Email </label>
                                                <!-- Joined input group prepend example-->
                                                <div class="input-group input-group-joined">
                              <span class="input-group-text">
                                <i data-feather="mail"></i>
                              </span>
                                                    <input readonly
                                                           class="form-control ="
                                                           type="text"
                                                           aria-label="Search"
                                                           th:field="${customer.email}"
                                                    />
                                                </div>
                                            </div>


                                        </div>
                                        <div class="row gx-3 mb-3">
                                            <div class="col-md-6">
                                                <label class="small mb-1">
                                                    Mã môi giới
                                                    <span style="color: red">*</span>
                                                </label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="brokerCode"
                                                       placeholder="Mã môi giới"
                                                       th:field="${customer.employee.id}"

                                                />
                                            </div>
                                            <div class="col-md-6">
                                                <label class="small mb-1">
                                                    Tên môi giới
                                                    <span style="color: red">*</span>
                                                </label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="brokerCode"
                                                       placeholder="Mã môi giới"
                                                       th:field="${customer.employee.name}"

                                                />
                                            </div>

                                        </div>
                                        <div class="mb-3">
                                            <label class="small mb-1" for="customerDescription"
                                            >Mô tả <!--<span style="color: red">*</span> --></label
                                            >
                                            <textarea
                                                    readonly
                                                    class="form-control"
                                                    id="customerDescription"
                                                    rows="3"
                                                    placeholder="Nhập mô tả"
                                                    th:field="${customer.description}"
                                            ></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div id="identity">
                                <div class="card mb-4">
                                    <div class="card-header">ThÔNG TIN CĂN CƯỚC CÔNG DÂN</div>
                                    <div class="card-body">
                                        <div class="row gx-3 mb-3">
                                            <div class="col-md-6">
                                                <label class="small mb-1">
                                                    Mã căn cước
                                                    <span style="color: red">*</span>
                                                </label>
                                                <input readonly th:field="${customer.identification.identityNumber}" text="text" class="form-control" id=""/>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="small mb-1">
                                                    Ngày sinh

                                                    <span style="color: red">*</span>
                                                </label>
                                                <div class="input-group input-group-joined">
                              <span class="input-group-text">
                                <i data-feather="calendar"></i>
                              </span>
                                                    <input
                                                            readonly
                                                            th:field="${customer.birthDate}"
                                                            class="form-control ="
                                                            id="date1"
                                                    />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row gx-3 mb-3">
                                            <div class="col-md-6">
                                                <label class="small mb-1">
                                                    Nơi cấp
                                                    <span style="color: red">*</span>
                                                </label>
                                                <input type="text"
                                                       class="form-control"
                                                       th:readonly="true"
                                                       th:field="${customer.identification.issuePlace}"

                                                />
                                            </div>
                                            <div class="col-md-6">
                                                <label class="small mb-1"> Ngày cấp </label>
                                                <div class="input-group input-group-joined">
                              <span class="input-group-text">
                                <i data-feather="calendar"></i>
                              </span>
                                                    <input
                                                            readonly
                                                            th:field="${customer.issueDate}"
                                                            class="form-control ="
                                                            id="date2"
                                                    />
                                                </div>
                                            </div>


                                        </div>
                                        </div>

                                    </div>
                                </div>



                                <div id="bankingInformation">
                                    <div class="card mb-4">
                                        <div class="card-header">ThÔNG TIN TÀI KHOẢN NGÂN HÀNG</div>
                                        <div class="card-body">
                                            <div class="mb-3">
                                                <label class="small mb-1" for="ownerBanking"
                                                >Tên chủ tài khoản
                                                    <span style="color: red">*</span></label
                                                >
                                                <input  readonly class="form-control" type="text" id="ownerBanking"
                                                       th:field="${customer.customerName}"/>

                                            </div>
                                            <!-- Form Row-->
                                            <div class="col-md-6">
                                                <select class="form-select form-control-solid" name="did"
                                                        id="filterDropdown123">
                                                    <option th:each="bankAccounts: ${customer.bankAccounts}" th:value="${bankAccounts.bankName}"
                                                            th:text="${bankAccounts.bankName} +   ${bankAccounts.id}"></option>
                                                </select>
                                            </div>

<!--                                            <form class="row g-3"-->

<!--                                                  th:each="account: ${bankAccount}"-->


<!--                                            >-->
<!--                                            <div class="row gx-3 mb-3">-->
<!--                                                &lt;!&ndash; Form Group (first name)&ndash;&gt;-->
<!--                                                <div class="col-md-6">-->
<!--                                                    <label class="small mb-1">-->
<!--                                                        Ngân hàng-->
<!--                                                        <span style="color: red">*</span>-->
<!--                                                    </label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                           id="bank"-->
<!--                                                           th:field="${account.bankName}"-->
<!--                                                    />-->
<!--                                                </div>-->
<!--                                                &lt;!&ndash; Form Group (last name)&ndash;&gt;-->
<!--                                                <div class="col-md-6">-->
<!--                                                    <label class="small mb-1" for="bankNumber"-->
<!--                                                    >Số tài khoản-->
<!--                                                        <span style="color: red">*</span></label-->
<!--                                                    >-->
<!--                                                    <input class="form-control" type="text" id="bankNumber"-->
<!--                                                           th:field="${account.id}"/>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            </form>-->

                                        </div>
                                    </div>
                                </div>


                            </form>

                                <!-- Sticky Navigation-->



                        </div>
                        <div class="col-lg-3">
                            <div class="nav-sticky">
                                <div class="card">
                                    <div class="card-body">
                                        <ul class="nav flex-column" id="stickyNav">
                                            <li class="nav-item">
                                                <a class="nav-link" href="#customerInformation">Đầu mối</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#tradingAccountInfo"
                                                >Tài khoản giao dịch</a
                                                >
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#identity"
                                                >Căn cước công dân</a
                                                >
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#bankingInformation"
                                                >Tài khoản ngân hàng</a
                                                >
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <!-- Hidden field -->
                <input type="hidden"
                       id="gender"

                />
                <input type="hidden"
                       id="hdnEmployeeId"

                />
                <input type="hidden"
                       id="hdnSourceId"

                />
                <input type="hidden" class="form-control"
                       id="customerStatus"

                />

        </main>
        <th:block th:include="/common/footer.html"></th:block>
    </div>
</div>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/mainTH.js}"></script>
<script type="text/javascript" th:src="@{/js/customer.js}"></script>
<script th:inline="javascript">
    const picker = new Litepicker({
        element: document.getElementById("date"),
        autoRefresh: true,
    });
    const picker2 = new Litepicker({
        element: document.getElementById("date1"),
        autoRefresh: true,
    });
    const picker3 = new Litepicker({
        element: document.getElementById("date2"),
        autoRefresh: true,
    });
</script>
</body>
</html>
