<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Phòng ban</title>
</head>
<body>
    <h1>Danh sách phòng ban</h1>
    <form action="/department/search">
        <label for="keyword">Từ khóa: </label>
        <input id="keyword" type="text" name="k" th:value="${keyword}" />
        <input type="submit" value="Tìm kiếm" />
    </form>
    <table border="1" th:if="${departments}">
        <tr>
            <th>Mã phòng ban</th>
            <th>Tên phòng ban</th>
        </tr>
        <tr th:each="department : ${departments}">
            <td th:text="${department.id}"></td>
            <td th:text="${department.name}"></td>
        </tr>
    </table>
    <a href="/department/create">Tạo mới phòng ban</a>
<!--    <ul>-->
<!--        <li th:each="${pages}"></li>-->
<!--    </ul>-->
</body>
</html>