<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Cơ cấu công ty</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
  <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
  <style>
    .user-info {
      transform: translateX(0px);
      right: 0 !important;
      left: auto;
      flex: 0 0 auto;
      right: auto;
      z-index: 1000 !important;
      align-self: auto !important;
      overflow: hidden;
      position: fixed;
      width: 0;
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      height: 100%;
      vertical-align: baseline;
      outline: none;
      background-color: #fff;
    }
    .user-info-in {
      background-color: #fff;
      width: 0;
      top: 0;
      z-index: 1000;
      display: flex;
      flex-direction: column;
      height: 100%;
      right: 0;
    }
  </style>
</head>
<body class="nav-fixed">
<th:block th:include="/common/nav-fixed.html"></th:block>
<div id="layoutSidenav">
  <th:block th:include="/common/layoutSidenav.html"></th:block>
  <div id="layoutSidenav_content">
    <main>
      <header
              class="
              page-header page-header-dark
              bg-gradient-primary-to-secondary
              pb-10
            "
      >
        <div class="container-xl px-4">
          <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
              <div class="col-auto mt-4">
                <h1 class="page-header-title">
                  <div class="page-header-icon">
                    <i data-feather="filter"></i>
                  </div>
                  Cơ cấu công ty
                </h1>
                <div class="page-header-subtitle">
                  Cơ cấu công ty là nơi hiển thị chi tiết phòng ban, nhân
                  viên nào của công ty.
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Main page content-->
      <div class="container-xl px-4 mt-n10">
        <div class="card mb-4">
          <div class="card-header">Filter</div>
          <div class="card-body">
            <div class="mb-3">
              <form id="go-update-form" th:action="@{/department/edit-v2}">
                <label  class="form-label">Phòng ban</label>
                <select class="form-select form-control-solid" name="did"
                          id="filterDropdown123" onchange="filterText()">
                    <option th:each="department : ${departments}" th:value="${department.id}"
                            th:text="${department.name}"></option>
                </select>
              </form>
            </div>
          </div>
        </div>
        <div class="card mb-4 card-header-actions mx-auto">
          <div class="card-header">
            Hiển Thị Phòng Ban
            <div>
              <button class="btn btn-primary clickshowinfo" data-id="100">
                Thêm mới
              </button>
              <button form="go-update-form" class="btn btn-outline-dark" type="submit">Sửa</button>
              <button class="btn btn-outline-dark">Chi tiết</button>
            </div>
          </div>
          <div class="card-body">
            <table id="datatablesDepartment">
              <thead>
              <tr>
                <th>TÊN NGƯỜI DÙNG</th>
                <th>NGÀY SINH</th>
                <th>PHÒNG BAN</th>
                <th>ĐIỆN THOẠI</th>
                <th>EMAIL</th>
                <th>HÀNH ĐỘNG</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="employee : ${employees}" class="content">
                <td th:text="${employee.name}"></td>
                <td th:text="${employee.birthDate}"></td>
                <td th:text="${employee.department.name}"></td>
                <td th:text="${employee.phone}"></td>
                <td th:text="${employee.companyEmail}"></td>
                <td>
                  <button
                          class="
                            btn btn-datatable btn-icon btn-transparent-dark
                            me-2
                          "
                  >
                    <i data-feather="more-vertical"></i>
                  </button>
                  <button class="btn btn-datatable btn-icon btn-transparent-dark">
                    <i data-feather="trash-2"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
    <th:block th:include="/common/footer.html"></th:block>
  </div>
  <div class="user-info">
    <div
            class="user-info-in card card-header-actions mx-auto"
            style="padding-top: 55px"
    >
      <div class="card-header">
        Thêm mới
        <a href="#" class="cc">
          <i class="fas fa-times"></i>
        </a>
      </div>
      <div class="card-body">
        <form th:action="@{/department/create}" method="POST" th:object="${departmentForm}">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"><strong>
              Phòng ban
            </strong>
              <span style="color: red">*</span></label>
            <input type="text" th:field="*{name}" class="form-control form-control-solid" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="textAreaExample" class="form-label"> <strong>
              Ghi chú
            </strong></label>
            <textarea th:field="*{note}" class="form-control form-control-solid" id="textAreaExample" rows="4"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label">  Bắt buộc <span style="color: red">*</span></label>
          </div>
          <button type="submit" class="btn btn-primary">LƯU</button>
        </form>
      </div>
    </div>
  </div>
</div>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <script type="text/javascript" th:src="@{/js/mainTH.js}"></script>
  <script type="text/javascript" th:src="@{/js/datatables/datatables-custom.js}"></script>
  <script th:inline = "javascript">
    function filterText() {
      var rex = new RegExp($("#filterDropdown123").val());
      if (rex == "/all/") {
        clearFilter();
      } else {
        $(".content").hide();
        $(".content")
                .filter(function () {
                  return rex.test($(this).text());
                })
                .show();
      }
    }

    function clearFilter() {
      $(".filterDropdown123").val("");
      $(".content").show();
    }

    /*<![CDATA[*/
    $(document).ready(function() {
      var showtext = /*[[${flag}]]*/ "";
      console.log(showtext);
      if (showtext === 'showAlert') {
        swal.fire({
          position: "top-end",
          icon: "success",
          title: "Gửi thành công",
          showConfirmButton: false,
          timer: 5000,
        });
      } else if (showtext === 'showAlertUpdateLevelSuccessful') {
        swal.fire({
          position: "top-end",
          icon: "success",
          title: "Cập nhật thành công",
          showConfirmButton: false,
          timer: 5000,
        });
      }
    });

    var stompClient = null;
    var userName = /*[[${userName}]]*/ "";

    function connect() {
      var socket = new SockJS('/hello');
      stompClient = Stomp.over(socket);
      stompClient.connect({ username: userName, }, function() {
        console.log('Web Socket is connected');
        stompClient.subscribe('/users/queue/messages', function(message) {
          const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
          })

          Toast.fire({
            icon: 'success',
            title: message.body,
          })
        });
      });
    }

    window.onload = connect;
    /*]]>*/
  </script>
</body>
</html>
