<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Cơ cấu công ty</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
  <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
</head>
<body class="nav-fixed">
<th:block th:include="/common/nav-fixed.html"></th:block>
<div id="layoutSidenav">
  <th:block th:include="/common/layoutSidenav.html"></th:block>
  <div id="layoutSidenav_content">
    <main>
      <header
              class="
              page-header page-header-dark
              bg-gradient-primary-to-secondary
              pb-10
            "
      >
        <div class="container-xl px-4">
          <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
              <div class="col-auto mt-4">
                <h1 class="page-header-title">
                  <div class="page-header-icon">
                    <i data-feather="filter"></i>
                  </div>
                  Cơ cấu công ty
                </h1>
                <div class="page-header-subtitle">
                  Cơ cấu công ty là nơi hiển thị chi tiết phòng ban, nhân
                  viên nào của công ty.
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Main page content-->
      <div class="container-xl px-4 mt-n10">
        <div class="card mb-4">
          <div class="card-header">Phòng ban</div>
          <div class="card-body">
            <div class="mb-3">
              <form id="go-update-form" th:action="@{/department/edit-v2}">
                <select class="form-select form-control-solid" name="did"
                          id="selectDepartment" onchange="filterText()">
                    <option th:each="department : ${departments}" th:value="${department.id}"
                            th:text="${department.name}"></option>
                </select>
              </form>
            </div>
          </div>
        </div>
        <div class="card mb-4 card-header-actions mx-auto">
          <div class="card-header">
            Hiển Thị nhân viên phòng Ban
            <div>
              <button class="btn btn-primary" data-id="100" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                Thêm mới
              </button>
              <button form="go-update-form" class="btn btn-outline-dark" type="submit">Sửa</button>
            </div>
          </div>
          <div class="card-body">
            <table id="datatablesDepartment">
              <thead>
              <tr>
                <th>TÊN NGƯỜI DÙNG</th>
                <th>NGÀY SINH</th>
                <th>PHÒNG BAN</th>
                <th>ĐIỆN THOẠI</th>
                <th>EMAIL</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="employee : ${employees}" class="content">
                <td th:text="${employee.name}"></td>
                <td th:text="${employee.birthDate}"></td>
                <td th:text="${employee.department.name}"></td>
                <td th:text="${employee.phone}"></td>
                <td th:text="${employee.companyEmail}"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
    <th:block th:include="/common/footer.html"></th:block>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <form class="ui form segment" th:action="@{/department/create}" method="POST" th:object="${departmentForm}">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Thêm mới phòng ban</h5>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3 field description">
              <label for="exampleInputEmail1" class="form-label"><strong>
                Phòng ban
              </strong>
              <span style="color: red">*</span></label>
              <input type="text" name="name" th:field="*{name}" class="form-control form-control-solid" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="textAreaExample" class="form-label"> <strong>
                Ghi chú
                </strong></label>
              <textarea th:field="*{note}" class="form-control form-control-solid" id="textAreaExample" rows="4"></textarea>
            </div>
            <div class="mb-1">
              <label class="form-label">  Bắt buộc <span style="color: red">*</span></label>
            </div>
          </div>
          <div class="modal-footer">
            <button class="ui blue submit button" type="button">
              Lưu
            </button>
            <button class="ui reset button" type="button" data-bs-dismiss="modal">
              Huỷ
            </button>
          </div>
          <div class="ui error message"></div>
        </form>
      </div>
    </div>
  </div>


</div>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <script type="text/javascript" th:src="@{/js/mainTH.js}"></script>
  <script type="text/javascript" th:src="@{/js/main.js}"></script>
  <script type="text/javascript" th:src="@{/js/datatables/datatables-custom.js}"></script>
  <script type="text/javascript" th:src="@{/js/Sms/main.js}"></script>
  <script type="text/javascript" th:src="@{/js/semantic/main.js}"></script>

  <script th:inline = "javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
      var showtext = /*[[${flag}]]*/ "";
      console.log(showtext);
      if (showtext === 'showAlert') {
        swal.fire({
          position: "top-end",
          icon: "success",
          title: "Gửi thành công",
          showConfirmButton: false,
          timer: 5000,
        });
      } else if (showtext === 'showAlertUpdateLevelSuccessful') {
        swal.fire({
          position: "top-end",
          icon: "success",
          title: "Cập nhật thành công",
          showConfirmButton: false,
          timer: 5000,
        });
      } else if (showtext === 'showAlertSuccess') {
        const Toast = Swal.mixin({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
          }
        })

        Toast.fire({
          icon: "success",
          title: "Thêm phòng ban thành công",
        });
      } else if (showtext === 'showAlertDuplicateName') {
        const Toast = Swal.mixin({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
          }
        })

        Toast.fire({
          icon: "error",
          title: "Phòng ban này đã tồn tại.",
        });
      }
    });

    var stompClient = null;
    var userName = /*[[${userName}]]*/ "";

    function connect() {
      var socket = new SockJS('/hello');
      stompClient = Stomp.over(socket);
      stompClient.connect({ username: userName, }, function() {
        console.log('Web Socket is connected');
        stompClient.subscribe('/users/queue/messages', function(message) {
          const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
          })

          Toast.fire({
            icon: 'success',
            title: message.body,
          })
        });
      });
    }

    window.onload = connect;
    /*]]>*/
  </script>
</body>
</html>
